<div class="section-title">
    <h2 class="text-center">Careers</h2>
</div>
<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <p>The vision of Triratna Foundation, Inc is to be the most reliable wheel for peace, prosperity, & happiness for humans and animals globally. Our mission is to ensure a smile on the face of every suffering being. </p>
                <p>There is no cost to apply for any job in a selective process at Triratna Foundation, Inc. We provide Equal Employment Opportunities to all employees and applicants for employment without regard to race, color, religion, sex, national origin, age, disability, or genetics. In addition to federal law requirements, we comply with relevant state and local laws governing nondiscrimination in employment in every location where the company has facilities.</p>
                <p>Thank you for your interest in career opportunities with Triratna Foundation, Inc. We are excited for the potential of you joining us in our mission to ensure a smile on the face of humans and animals globally. If you have any questions about the application process, please feel free to reach out to our Human Resources office at info@triratnafoundation.com.</p>
                <p>To begin a new application, you must register to our website by going to "Login" at the top right on our website.  If you have any questions about registration, please email us at info@triratnafoundation.com. Please be sure and remember your username and password for use on future login. To apply, choose a job from the available listings below. After you have completed your profile and application, you will receive a confirmation number and save your information confidently. </p>
            </div>
        </div>
    </div>
</div>
