<div class="page-banner join-us-banner">
    <div class="container">
        <div class="banner-text">
            <h2>Careers</h2>
            <!-- <h3>Learn . Grow . Succeed</h3> -->
            <div style="font-size:22px;" class="wow animated fadeInDown">
                <h4>Looking to Join Triratna Foundation?</h4>
                <a href="" class=" btn btn-lg btn-default join-us-btn"><i class="fa fa-hand-o-right"></i> &nbsp;Join Us</a>
            </div>
        </div>
    </div>
</div>
<div class="container margin-top-20 margin-bottom-20">
    <h2>Ongoing Openings</h2>
    <p>Ongoing Triratna Foundation job openings are listed below.  Depending on specific customer requirements for each position, offers of employment for US Government contracts may be contingent upon the results of a pre-employment drug test, background check, and/or US citizenship. Contingent on customer requirements, applicants selected may also be subject to a government security investigation and must meet eligibility requirements for access to classified information.</p>
    <div class="margin-top-20">
        <table border="0" cellspacing="0" cellpadding="5" width="100%" class="table" style="border-bottom: 1px solid rgb(79, 129, 189);">
            <tbody><tr>
            <th style="border-top: 1px solid rgb(79, 129, 189); border-bottom: 1px solid rgb(79, 129, 189); background-color: rgb(255, 255, 255);">Job Title</th>
            <th style="border-top: 1px solid rgb(79, 129, 189); border-bottom: 1px solid rgb(79, 129, 189); background-color: rgb(255, 255, 255);">Location</th>
            <th style="border-top: 1px solid rgb(79, 129, 189); border-bottom: 1px solid rgb(79, 129, 189); background-color: rgb(255, 255, 255);">Job #</th>
            <th style="border-top: 1px solid rgb(79, 129, 189); border-bottom: 1px solid rgb(79, 129, 189); background-color: rgb(255, 255, 255);">Closing Date</th>
            </tr>
            <tr style="background-color: rgb(211, 223, 238);">
            <td><a href="TP-20131.html">Project Manager</a></td>
            <td>Rockville, MD</td>
            <td>TP-20131</td>
            <td>Ongoing</td>
            </tr>
            <tr>
            <td><a href="TP-20132.html">Senior Solution Architect (HealthCare IT)</a></td>
            <td>Rockville, MD</td>
            <td>TP-20132</td>
            <td>Ongoing</td>
            </tr>
            <tr style="background-color: rgb(211, 223, 238);">
            <td><a href="SB-01272011.html">Application Deployment Support Engineer</a></td>
            <td>Rockville, MD</td>
            <td>SB-01272011</td>
            <td>Ongoing</td>
            </tr>
            <tr>
            <td><a href="AKNM-01272011.html">Senior Software Engineer</a></td>
            <td>Rockville, MD</td>
            <td>GC09022016</td>
            <td>Ongoing</td>
            </tr>
            <tr style="background-color: rgb(211, 223, 238);">
            <td><a href="AKNM-01272011SSE.html">Senior Business Analyst</a></td>
            <td>Rockville, MD</td>
            <td>GC10242016</td>
            <td>Ongoing</td>
            </tr>
            <tr>
            <td><a href="AKNM-01272011-SE.html">Software Engineer</a></td>
            <td>Rockville, MD</td>
            <td>GC09032016</td>
            <td>Ongoing</td>
            </tr>
            <tr style="background-color: rgb(211, 223, 238);">
            <td><a href="AKNM-01272011-QAM.html">Quality Assurance Manager</a></td>
            <td>Rockville, MD</td>
            <td>GC10312017</td>
            <td>Ongoing</td>
            </tr>
        
            </tbody>
        </table>
    </div>
</div>