<div class="news-container">
  <div class="mediaSelector">
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="button" class="btn btn-info" (click)="newsPopup()">Create News</button>
      </div>
    </div>
  </div>
  <div class="news-card-list">
    <div class="news-card row" *ngFor="let news of allNews | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalNews }" (click)="viewNews(news)">
      <div class="col-4">
        <img *ngIf="news.thumbnail?.data" src="data:image/png;base64,{{news.thumbnail?.data}}"/>
        <span *ngIf="!news.thumbnail?.data"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
      </div>
      <div class="col-6">
        <h3>{{news.heading}}</h3>
      </div>
      <div class="col-2 actions">
        <span (click)="editNews(news)"><i class="fa fa-edit"></i></span>
        <span (click)="deleteNews(news.id)"><i class="fa fa-trash"></i></span>
        <div class="news-date">
          <label>Created Date:</label>  {{news.createdDate| date}}
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>

<!-- <div *ngIf="getdata">
  <div [innerHTML]="getdata.response.story.content"></div>
</div> -->
