<div class="section-title">
    <h2 class="text-center">Health, Hygiene & Sanitation</h2>
</div>

<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">               
                <p>Millions of children die every year; mothers are dying, and loved ones of the homeless and needy are dying for not receiving health, hygiene, and sanitation services. If you have extra pennies or excess health, hygiene, and sanitation supplies, for the sake of God, please contribute what you can. Their blessings will bring luck and fortune to your life. God Bless You!</p>
            </div>
        </div>
    </div>
</div>
