<div class="section-title">
  <h2 class="text-center">Safety & Protection</h2>
</div>

<div class="container-fluid products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <p>
          The Triratna Foundation, Inc. is a reliable wheel of human safety and protection. We represent different
          cultural backgrounds worldwide as a common standard. We recognize the fundamental dignity and natural rights
          of all human family members as the foundation of freedom, justice, and peace in the world. All human beings
          shall enjoy the freedom of speech, expression, belief, and freedom from fear. If a man has no support, as the
          last option, he revolts against tyranny and oppression; there, the rule of law should protect his rights.
        </p>
        <p>
          People have rights to their faith in the dignity and worth of the human person and men and women's equal
          rights. We support the promotion of universal respect for and observance of human rights and fundamental
          freedoms. Love, compassion, integrity, accountability, justice, initiative, information, quality, inspiration,
          generosity, culture, faith, spirituality, confidence, clarity, self-discipline, self-respect, role-model,
          teamwork, others first, and change are Triratna Foundation's reliable wheels to accomplish safety and
          protection to the entire humankind.
        </p>
        <p>
          We support UDHR's 30 Articles on Human Rights:
          All human beings are born free and equal in dignity and rights. They are endowed with reason and conscience
          and should act towards one another in a spirit of brotherhood (UDHR, Article-1).
          Everyone has the right to life, liberty, and security of person (UDHR, Article-3).
          No one shall be subjected to torture or cruel, inhuman, or degrading treatment or punishment (UDHR, Article
          -5).<br>
          Everyone has the right to recognition everywhere as a person before the law (UDHR, Article-6).

        </p>
      </div>
    </div>
  </div>
</div>
