<div class="tf-header">
    <nav class="navbar navbar-expand-lg navbar-default bg-light fixed-top">
        <a class="navbar-brand" href="#"><img src="assets/images/logo.svg" alt="Logo" style="height:57px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="" routerLink="/">Home</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active" ngbDropdown >
                    <a ngbDropdownToggle>About Us </a>
                    <ul class="dropdown-menu" ngbDropdownMenu >
                        <li class=""><a class="dropdown-item" routerLink="about_us/leadership">Leadership</a></li>
                        <li class=""><a class="dropdown-item" routerLink="about_us/supporters">Supporters</a></li>
                        <li class=""><a class="dropdown-item" routerLink="about_us/financials">Financials</a></li>
                        <li class=""><a class="dropdown-item" routerLink="about_us/careers">Careers</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active" ngbDropdown>
                    <a ngbDropdownToggle>
                        Services
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class=""><a class="dropdown-item" routerLink="services/food_cloths_and_shelter">Food, Cloths
                                & Shelter</a></li>
                        <li class=""><a class="dropdown-item"
                                routerLink="services/health_hygiene_and_sanitation">Health, Hygiene & Sanitation</a>
                        </li>
                        <li class=""><a class="dropdown-item" routerLink="services/fresh_air_clean_water">Fresh Air &
                                Clean Water</a></li>
                        <li class=""><a class="dropdown-item" routerLink="services/organic_soil_and_green_view">Organic
                                Soil & Green View</a></li>
                        <li class=""><a class="dropdown-item" routerLink="services/safety_and_protection">Safety&
                                Protection</a></li>
                        <li class=""><a class="dropdown-item" routerLink="services/animal_safety_rights">Animal Safety &
                                Rights</a></li>
                        <li class=""><a class="dropdown-item"
                                routerLink="services/save_children_vulnerable_and_old">Save Children, Vulnerable &
                                Old</a></li>
                        <li class=""><a class="dropdown-item" routerLink="services/emergency_reliefs">Emergency
                                Reliefs</a></li>
                        <li class=""><a class="dropdown-item" routerLink="services/education_and_training">Education &
                                Training</a></li>
                        <li class=""><a class="dropdown-item"
                                routerLink="services/teaching_of_buddha_and_spirituality">Teaching of Buddha &
                                Spirituality</a></li>
                        <li class=""><a class="dropdown-item" routerLink="services/rehearsal_of_panchasila">Rehearsal of
                                Panchasila</a></li>
                        <li class=""><a class="dropdown-item"
                                routerLink="services/forgiveness_and_reconciliation">Forgiveness & Reconciliation</a>
                        </li>
                        <li class=""><a class="dropdown-item" routerLink="services/research_and_innovation">Research &
                                Innovation</a></li>
                    </ul>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="" routerLink="volunteers">Volunteers</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active" ngbDropdown>
                    <a routerLink="informations" ngbDropdownToggle>Informations</a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class=""><a class="dropdown-item" routerLink="informations/calendar">Calendar</a></li>
                        <li class=""><a class="dropdown-item" routerLink="informations/events">Events</a></li>
                        <li class=""><a class="dropdown-item" routerLink="informations/stories">Stories</a></li>
                        <li class=""><a class="dropdown-item" routerLink="informations/news">News</a></li>
                        <li class=""><a class="dropdown-item" routerLink="informations/videos">Videos</a></li>
                        <li class=""><a class="dropdown-item" routerLink="informations/photos">Photo</a></li>
                    </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <a class="" routerLink="/donations">Donate</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="" routerLink="contact_us">Contact us</a>
                </li>
            </ul>
            <select name="selectedCountry" class="form-control country-drpdwn" [(ngModel)]="selectedCountry">
                <option *ngFor="let option of countryList" [value]="option">{{option}}</option>
            </select>
            <div class="form-inline mt-2 mt-md-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="openLoginPopup()"
                    *ngIf="!isAuthenticated">
                    Login
                </button>
                <div class="btn-group user-dropdown" ngbDropdown display="dynamic" *ngIf="isAuthenticated">
                    <a ngbDropdownToggle>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td rowspan="2"><img src="assets/images/man.svg" alt="Logo" style="width:32px;margin-right: 5px;"></td>
                                <td style="text-align:right;"> <span title="User" class="user-name">User</span></td>
                            </tr>
                        </table>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li *ngIf="rolesPermission">
                            <a ngbDropdownItem routerLink="edit-profile">Edit</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a ngbDropdownItem routerLink="edit-profile/profile">Profile</a>
                      </li>
                      <li class="divider"></li>
                        <li>
                            <a ngbDropdownItem (click)="signOut()">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
