@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

.user-container {
  h1 {
    text-align: center;
    text-decoration: underline;
  }
  .searchField {
    padding: 8px;
    margin: 15px;
    width: 30%;
  }
  .ngx-datatable.material {
    .datatable-body {
      .datatable-body-row .datatable-body-cell {
        padding: 0.4rem 1.2rem;
        word-wrap: break-word;
        .assign-roles {
          label {
            width: 90px;
          }
        }
      }
    }
  }
}
