<div class="section-title">
  <h2 class="text-center">Emergency Reliefs</h2>
</div>
<div class="container-fluid products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <p>
          Emergency relief is the activity intended to address a need which, if left unattended, may result in
          significant consequences for victims. It may include assistance required immediately following the disaster
          related to natural calamities, war, or crime as well as the activities needed during the investigation and
          prosecution of an act of terrorism or mass violence.
          Triratna Foundation does whatever it takes to the best of its capacity for every major humanitarian crisis
          since its establishment.
        </p>
      </div>
    </div>
  </div>
</div>
