<h2 class="text-center">Affiliates or Partners</h2>
<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <p>Any gumba/gonpa, temple, church, mosque, faith, group, club, agency, society, association, organization, NGO, INGO, regional governmental organizations, UN Specialized Agencies, and governments needing to affiliate or partner with TRIRATNA INTERNATIONAL FOUNDATION, Inc to build peace, prosperity, & happiness for humans and animals globally and ensure a smile on the face of suffering beings, are welcome to sign up and fill-up the form attached below. There is no cost to sign up. We welcome every organization, irrespective of race, color, religion, national origin, service type, and length of service, to be our affiliate or partner. </p>
            </div>
            <div class="col-md-12">
                <h5>Responsibility</h5>
                <p>A partner or affiliate's primary responsibility is to join hands and support our operational projects and activities and be a common voice to accomplish the vision, mission, and values of TRIRATNA INTERNATIONAL FOUNDATION, Inc in whatever ways possible. </p>
            </div>
        </div>
    </div>
</div>