<div class="section-title" style="margin-top: 120px;">
  <h2 class="text-center">Affiliates & Partners</h2>
</div>
<div class="container-fluid bg-white products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <p>Any gumba/gonpa, temple, church, mosque, faith, group, club, agency, society, association, organization, NGO,
          INGO, regional governmental organizations, UN Specialized Agencies, and governments needing to affiliate or
          partner with TRIRATNA INTERNATIONAL FOUNDATION, Inc to build peace, prosperity, & happiness for humans and
          animals globally and ensure a smile on the face of suffering beings, are welcome to sign up and fill-up the
          form attached below. There is no cost to sign up. We welcome every organization, irrespective of race, color,
          religion, national origin, service type, and length of service, to be our affiliate or partner. </p>
      </div>
      <div class="col-md-12">
        <h5>Responsibility</h5>
        <p>A partner or affiliate's primary responsibility is to join hands and support our operational projects and
          activities and be a common voice to accomplish the vision, mission, and values of TRIRATNA INTERNATIONAL
          FOUNDATION, Inc in whatever ways possible. </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="card">
        <a href="https://gurungbrothers247.managebuilding.com/Resident/public/home" target="_blank">
          <img class="card-img-top" src="assets/images/partners/GB_Real_Estate.jpg" alt="GB Real Estate"
            style="width:100%">
        </a>
        <div class="card-body">
          <h4 class="card-title">GB Real Estate</h4>
          <p class="card-text"></p>
        </div>
      </div>
      <div class="card">
        <a href="https://www.youtube.com/channel/UCAv3Rx7BxJCcEDJFaYEq1yA" target="_blank">
          <img class="card-img-top" src="assets/images/partners/GBNewsTV.jpg" alt="Card image" style="width:100%">
        </a>
        <div class="card-body">
          <h4 class="card-title">GB NewsTV</h4>
          <p class="card-text"></p>
        </div>
      </div>
      <div class="card">
        <a href="https://www.gurungbuddhism.com/" target="_blank">
          <img class="card-img-top" src="assets/images/partners/Gurung_Buddhism.jpg" alt="Card image"
            style="width:100%;border-radius: 100px;">
        </a>
        <div class="card-body">
          <h4 class="card-title align-items-center justify-content-center">Gurung Buddhism</h4>
          <p class="card-text"></p>
        </div>
      </div>
      <div class="card">
        <a href="https://www.youtube.com/channel/UCvk8tcuwx5gxVvdGtaTTn1Q" target="_blank">
          <img class="card-img-top" src="assets/images/partners/Naulo_Awaz.png" alt="Card image" style="width:100%">
        </a>
        <div class="card-body">
          <h4 class="card-title">Naulo Awaz</h4>
          <p class="card-text"></p>
        </div>
      </div>
      <div class="card">
        <a href="https://www.facebook.com/nepalsnehikaakha" target="_blank">
          <img class="card-img-top" src="assets/images/partners/Snehi_Kaakha.jpg" alt="Card image" style="width:100%">
        </a>
        <div class="card-body">
          <h4 class="card-title">Snehi Kaakha</h4>
          <p class="card-text"></p>
        </div>
      </div>
      <div class="card">
        <a href="https://www.facebook.com/New-Hope-English-Boarding-Higher-Secondary-School-946003992128314" target="_blank">
          <img class="card-img-top" src="assets/images/partners/NHEBSS.jpg" alt="Card image" style="width:100%">
        </a>
        <div class="card-body">
          <h4 class="card-title">New Hope English Boarding Higher Secondary School</h4>
          <p class="card-text"></p>
        </div>
      </div>

    </div>

  </div>
