<h2 class="text-center">Monks & Nuns</h2>
<div class="container bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <p>Anyone who matches the criteria specified below is qualified to sign up as a monk/nun volunteer. There is no cost to sign up. We provide equal opportunities to all irrespective of race, color, religion, sex, national origin, age, disability, or genetics. </p>
            </div>
            <div class="col-md-12">
                <h5>Monks</h5>
                <p>A monk in TRIRATNA INTERNATIONAL FOUNDATION, Inc is a monastic male who is withdrawn from the world and ordained to practice severe self-discipline and avoidance of all forms of indulgence by monastic living, either alone, in the family, or with any number of other monks or a member of a religious community of men typically living under vows of poverty, chastity, and obedience.</p>
            </div>
            <div class="col-md-12">
                <h5>Nun</h5>
                <p>A nun in TRIRATNA INTERNATIONAL FOUNDATION, Inc is a monastic female who is withdrawn from the world and ordained to practice severe self-discipline and avoidance of all forms of indulgence by monastic living, either alone, in the family, or with any number of other nuns or a member of a religious community of female typically living under vows of poverty, chastity, and obedience.</p>
            </div>
            <div class="col-md-12">
                <h5>Duties</h5>
                <p>The primary activities of monks or nuns affiliated with TRIRATNA INTERNATIONAL FOUNDATION, Inc are to offer prayers, rituals, preaching, studies, meditation practices, religious and spiritual teachings, care for others, and involve in the actions for peace, prosperity, & happiness for humans and animals globally.</p>
            </div>
        </div>
    </div>
</div>