
<h2 class="text-center">Sponsor</h2>

<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <p>Anyone who matches the criteria specified below is qualified to sign up as a sponsor. There is no cost to sign up. We welcome everyone irrespective of race, color, religion, sex, national origin, age, disability, or genetics to be our sponsor.</p>
            </div>
            <div class="col-md-12">
                <h5>Criteria</h5>
                <p>Any person who supports our operational projects and activities with financial support is requested to sign up as a sponsor. This category applies to individual sponsors or donors only. The sponsors could donate one-time or monthly money contributions, gift cards, gifts, bequests, inventory, vehicle, land, building, etc. If you are an organization, agency, foundation, Gonpa, temple, church, business corporations, firms, and government, please click here. </p>
            </div>
            <div class="col-md-12">
                <h5>Duties</h5>
                <p>The primary responsibility of a sponsor affiliated with TRIRATNA INTERNATIONAL FOUNDATION, Inc is to make sure whether your donation is utilized for the purpose you have contributed for or to build peace, prosperity, & happiness for humans and animals globally and ensure a smile on the face of every suffering being. </p>
            </div>
        </div>
    </div>
</div>