<h2 class="text-center">Well-Wishers</h2>


<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <p>Anyone who matches the criteria specified below is qualified to sign up as a well-wisher. There is no cost to sign up. We provide equal opportunities to all irrespective of race, color, religion, sex, national origin, age, disability, or genetics</p>
            </div>
            <div class="col-md-12">
                <h5>Criteria</h5>
                <p>Anyone who supports our vision and mission and wishes TRIRATNA INTERNATIONAL FOUNDATION, Inc to be the most reliable wheel for peace, prosperity, & happiness for humans and animals globally and be a part to ensure a smile on the face of every suffering being will qualify to sign up as a well-wisher.</p>
            </div>
            <div class="col-md-12">
                <h5>Duties</h5>
                <p>The primary duty of a well-wisher affiliated with TRIRATNA INTERNATIONAL FOUNDATION, Inc is to support and wish for peace, prosperity, & happiness for humans and animals globally and ensure a smile on the face of every suffering being in person or remotely.</p>
            </div>
        </div>
    </div>
</div>