<div class="gallery-container">
    <div class="mediaSelector">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-info" (click)="addMedia()">Add Media</button>
            </div>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let response of thumbnailphotos">
                <div class="text-right">
                    <img src="assets/images/close.svg" alt="Close" class="close-album"
                    (click)="clickToDelete(response.id)">
                </div>
                <img src="data:image/png;base64,{{response.thumbnail.data}}" alt="Album"
                    *ngIf="response.link==undefined" />
                <img src="assets/images/photo-library.svg" alt="Album" *ngIf="response.link!=undefined" />
                <h6 title="{{response.link}}">{{response.link}}</h6>
            </li>
        </ul>
    </div>
</div>