<div class="section-title">
  <h2 class="text-center">Education & Training</h2>
</div>

<div class="container-fluid bg-white products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <p>
          The Triratna Foundation, Inc Education & Training Support Committee (TFETSC) is responsible for evaluating all
          education and training support applicants and selecting recipients using the procedure described below. The
          TFETSC consists of four members and the Triratna Foundation Chairman/CEO. The Board of Directors approve the
          TFETSC Members each year upon Chairman/CEO's final mark. The TFETSC is committed to encouraging students to
          enroll in a fair, equitable, and competitive manner.
        </p>
        <img src="/assets/images/services/education_&_training.jpg" alt="devotee" class="img-fluid">
        <h5>Award Procedure</h5>
        <p>
          The Triratna Foundation, Inc (TF) offers education and training support to students with distressed financial
          background. These are supported by generous private and corporate donors, many of whom have established
          education& training support account with TF.
        </p>
        <h5>Support Notification</h5>
        <p>
          At the appropriate time, each year, TF notifies all the international operating committees of available
          supports in writing using email. Information in this email includes the type of the support, number of awards,
          eligibility criteria, and application requirements.
        </p>
        <h5>Number of awards and award amount</h5>
        <p>
          The amount awarded for each education& training support is determined using the award agreement established
          between the recipient and the TF Board. The number of awards may vary from year to year and depends on
          availability. The number of awards and award amount is communicated to students.
        </p>
        <h5>Eligibility requirements</h5>
        <p>
          The eligibility requirements for each education and training support are established in the award agreement
          between the recipient and the TF. When each education& training support is announced, the terms and conditions
          are communicated to students and their parents. In general, an award may base on a financial need or other
          criteria as determined by TF.
        </p>
        <h5>Applications</h5>
        <p>
          All the pre-approved applications and supporting materials are compiled by the TFETSC, ensuring that the
          application is complete. The completed applications are forwarded to the TF board, along with their
          eligibility and <b>Charitable Donation Request Form (CDRF)</b> through one of the TF Country Presidents.
        </p>
        <h5>Final Application Review</h5>
        <p>
          The TF Boardreviews applications ultimately for each candidate using the eligibility and application
          requirements established in the award agreement. The TF Board further considers applicants based on the
          endorsement of TFETSC who meet the eligibility and application requirements. When a decision is made, the
          TFETSC Chair, TF Country Presidents, and the school Principal will communicate the result to the students'
          parents.
        </p>
        <h5>TFESC Responsibilities:</h5>
        <p style="margin-left: 10px;">
          1. TFESC Chair will coordinate all the education & training related activities and update the TF Country
          Presidents and TFESC country members.<br>
          2. TFETSC will disburse the fund timely and appropriately.<br>
          3. The Chair of the TFETSC will keep the record of all the payments and expenses.<br>
          4. The Chair of the TFETSC will also keep receipts for financial aid at the appropriate time.<br>
          5. He is responsible for education and training support accounting and reporting to TF Board by December 31,
          of each US fiscal year.
        </p>
        <h5>Educational Support Benefits</h5>
        <p>
          The TF Education& Training Support covers the following expenses during the qualified term:<br>
        </p>
        <p style="margin-left: 10px;">
          1. One set of school uniform each year.<br>
          2. Transportation cost by the school bus.<br>
          3. The cost of all the stationery.<br>
          4. One-time lunch on a school day.<br>
          5. Total tuition fees by the school.
        </p>
        <h5>Support Cancellation</h5>
        <p>
          The policy and procedures for education& training support awards/funds are reviewed periodically and are
          subject to change or cancellation upon the breach of the following policies:
        </p>
        <p style="margin-left: 10px;">
          1. Unable to acquire passing grades in each grade level.<br>
          2. Missing 10% or more of the school attendance in an academic year. Absence due to the reasonable ground is
          excused. <br>
          3. In light of the expulsion, after school officials have tried everything else to correct children's
          behavior.<br>
          4. Found with a gun or unlawful weapons at the school premises.<br>
          5. Bringing illegal drugs to School.<br>
          6. Hurting or threatening to harm another student or a teacher.<br>
          7. Making terroristic threats or criminal charges against him/her.
        </p>
      </div>
    </div>
  </div>
</div>

