<div class="row edit-profile-container">
  <div class="col-2 sidenav" *ngIf="isAdmin || isSuperAdmin">
    <ul class="edit-nav-menu">
      <li routerLinkActive="active" *ngIf="isAdmin || isSuperAdmin">
        <a routerLink="calendar">Calendar</a>
      </li>
      <li routerLinkActive="active" *ngIf="isSuperAdmin">
        <a routerLink="stories">Stories</a>
      </li>
      <li routerLinkActive="active" *ngIf="isSuperAdmin" >
        <a routerLink="news">News</a>
      </li>
      <li routerLinkActive="active" *ngIf="isAdmin || isSuperAdmin">
        <a routerLink="gallery">Gallery</a>
      </li>
      <li routerLinkActive="active" *ngIf="isSuperAdmin">
        <a routerLink="manage-email">Manage Email</a>
      </li>
      <li routerLinkActive="active" *ngIf="isSuperAdmin">
        <a routerLink="manage-user">Manage User</a>
      </li>
    </ul>
  </div>
  <div class="col-10 paddingtop-20 paddingbottom-20" [ngClass]="{'isPermission': (!isAdmin || !isSuperAdmin)}">
    <router-outlet></router-outlet>
  </div>
</div>
