.edit-profile-container{
  margin: 0;
  .isPermission {
    // max-width: 100%;
    // flex: 0 0 100%;
  }
}
.sidenav {
  width: 160px;
  background-color: #7A0203;
  overflow-x: hidden;
  padding: 0;
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    &:hover {
      color: #f1f1f1;
    }
  }
}

.edit-nav-menu {
  padding: 0;
  list-style: none;
  margin-top: 100px;
}

.edit-nav-menu li.active {
  background-color:#000;
}

.edit-nav-menu li.active a {
  color: #fff;
}
