<div class="row edit-profile-container">
  <a  class="sub-menu-icon" *ngIf="isSuperAdmin || isAdmin" (click)="showSubMenu=!showSubMenu">
    <i class="fa fa-bars"></i>
  </a>
  <div class="col-2 sidenav" *ngIf="isSuperAdmin || isAdmin" [ngClass]="{'showSubMenu': showSubMenu}">
    <div class="close-sub-menu" (click)="showSubMenu=false">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <ul class="edit-nav-menu">
      <li routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
        <a routerLink="calendar">Calendar</a>
      </li>
      <li routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
        <a routerLink="stories">Stories</a>
      </li>
      <li routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin" >
        <a routerLink="news">News</a>
      </li>
      <li routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
        <a routerLink="gallery">Gallery</a>
      </li>
      <li routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
        <a routerLink="manage-email">Manage Email</a>
      </li>
      <li routerLinkActive="active" *ngIf="isSuperAdmin">
        <a routerLink="manage-user">Manage User</a>
      </li>
    </ul>
  </div>
  <div class="col-12 profile-content" [ngClass]="{'noPermission': (!isSuperAdmin || !isAdmin)}">
    <router-outlet></router-outlet>
  </div>
</div>
