.edit-profile-container{
  margin: 0;
  .isPermission {
    // max-width: 100%;
    // flex: 0 0 100%;
  }
}
.sidenav {
background-image: linear-gradient(180deg, #000000 0%, #414141 74%);
  overflow-x: hidden;
  padding: 0;
  position: fixed;
  height: 100%;
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    &:hover {
      color: #f1f1f1;
    }
  }
}
.close-sub-menu {
  display: none;
}

.edit-nav-menu {
  padding: 0;
  list-style: none;
  // margin-top: 50px;
}

.edit-nav-menu li.active {
  background-color:#555;
}

.edit-nav-menu li.active a {
  color: #fff;
}

.sub-menu-icon {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 20px;
  display: none;
}
.noPermission {
  max-width: 100%;
  flex: 0 0 100%;
}
.profile-content {
  flex: 0 0 88%;
  max-width: 88%;
  margin-left: 12%;
}

@media (max-width: 500px) {
  .sidenav {
    display: none;
    border-radius: 20px;
  }
  
  .sub-menu-icon {
    display: block;
    height: 30px;
  }
  .showSubMenu {
    display: block;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 90px;
    left: 0;
    width: 100%;
    height: 70%;
    background: #111;
    max-width: initial;
    z-index: 99;
  }
  .edit-nav-menu {
    margin: 0;
  }
  .close-sub-menu {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    text-align: right;
    padding: 0 20px;
    font-size: 30px;
  }
}
@media (max-width: 414px) {
  .profile-content {
    margin: 0;
  }
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #adb5bd;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 992px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .edit-nav-menu li.active a {
    background-color:#555;
  }
  div.content {margin-left: 0;}
  .profile-content {
    max-width: none;
    margin-left: 0;
    padding-top: 0;
    flex: none;
  }
}

@media screen and (max-width: 590px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}