.edit-profile-container{
  margin: 0;
  .isPermission {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
.sidenav {
  width: 160px;
  background-color: #111;
  overflow-x: hidden;
  padding: 0;
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    &:hover {
      color: #f1f1f1;
    }
  }
}

.edit-nav-menu {
  padding: 0;
  list-style: none;
}

.edit-nav-menu li.active {
  background-color:#adb5bd;
}

.edit-nav-menu li.active a {
  color: #fff;
}
