<div class="section-title">
  <h2 class="text-center">Organic Soil & Green View</h2>
</div>

<div class="container-fluid  products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <h5>Organic Soil</h5>
        <p>
          The type of soil we used remarkably matters if we are farmers, gardeners, or organic product lovers. Healthy
          soil is the foundation of the food system because it produces healthy crops that, in turn, nourish people.
          Maintaining healthy soil requires care and effort because farming is not benign. Plants obtain nutrients from
          natural sources such as organic matter and minerals. Organic soil is formed by decomposing plant and animal
          components to create a nutrient and mineral-rich mini-ecosystem with microorganisms that feed and breathe life
          back into the soil. Its scientific definition is "Of, relating to, or derived from living matter." It provides
          nutrients and habitat to organisms living in the soil; organic matter also binds soil particles into
          aggregates and improves the soil's water-holding ability.
        </p>
        <p>
          The preservation of soil organic matter levels and the optimization of nutrient cycling are essential to the
          maintained productivity of agricultural operations. Crop production worldwide has usually appeared in decline
          in soil organic matter levels and, consequently, soil fertility decline. However, recovery is possible through
          unused lands, mixed crop-livestock and agroforestry systems, and crop rotations. Cover crops, intercropping,
          and crop rotations can also increase biodiversity below the soil surface and aboveground. This diversity is
          essential to maintaining a well-functioning and durable environmental system. Triratna Foundation, Inc. will
          play the role and support organic farming in the diaspora.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <h5>Green View</h5>
        <p>
          Green View (Green plant) removes carbon dioxide from the atmosphere, generates oxygen, stabilizes the soil,
          and gives life to wildlife. It is also a good source of food besides being pleasing to the eye and contributes
          to people's mental, physical and emotional wellbeing. Besides, they provide us with the supplies for tools and
          shelter. Indoor plants improve the air quality of interior spaces, and the levels of relative humidity rise as
          more plants are added, thereby improving human health and comfort.
        </p>
        <p>
          The plants absorb and filter out dirt and pollutants and produce a cleaner air quality. The green view
          supports reducing nitrate that enters surface water runoff by keeping harmful pollutants away from waterways.
          Living adjacent to greenery enhances our mental health, positively impacts our cognitive and psychological
          health, and reduces stress. The first noticeable benefit of planting trees is they build homes for wildlife.
          Hundreds of critters, insects, and birds use trees as shelter, food sources, and homes. Planting trees also
          contribute to growing the diversity of flora and fauna in the area. Therefore, Triratna Foundation, Inc. will
          partner with any government, organization, or individuals to support the green view movement.
        </p>
      </div>
    </div>
  </div>
</div>
