<div class="gallery-container" *ngIf="!createAlbumDiv">
  <div class="mediaSelector">
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="button" class="btn btn-info" (click)="openCreateAlbum()">Create Album</button>
      </div>
    </div>
  </div>
  <div class="mediaSelector">
    <div class="row" *ngFor="let response of getAlbum">
      <div (click)="clickToAlbum()" class="col-sm-4">
        <h1>{{response.result[0].albumName}}</h1>
        <img src="data:image/png;base64,{{response.result[0].thumbnail.data}}" alt="" width="100" height="100" />
      </div>
      
    </div>
  </div>
</div>
<!-- <div *ngIf="createAlbumDiv">
  <form [formGroup]="createAlbumForm">
    <div class="form-group">
      <label for="email">Album Name</label>
      <input type="text" class="form-control" formControlName="albumName">
    </div>
    <input type="submit" name="Craete Album" (click)="onSubmit()" class="btn btn-info" value="Create Album" />
  </form>
</div> -->


