<div class="gallery-container">
  <div class="mediaSelector">
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="button" class="btn btn-info" (click)="createAlbum()">Create Album</button>
      </div>
    </div>
  </div>
  <div class="mediaSelector">
    <ul class="list-inline">
      <li class="list-inline-item" *ngFor="let response of getAlbum">
        <div class="text-right">
          <img src="assets/images/close.svg" alt="Close" class="close-album" (click)="clickToDeleteAlbum(response.result[0].albumName)">
        </div>
        <div (click)="clickToAlbum(response.result[0].albumName)" style="cursor:pointer">
          <img src="data:image/png;base64,{{response.result[0].thumbnail?.data}}" alt="Album"
            *ngIf="response.result[0].thumbnail?.data">
          <img src="assets/images/photo-library.svg" alt="Album" *ngIf="response.result[0].thumbnail==null">
          <h6>{{response.result[0].albumName}}</h6>
        </div>
      </li>
    </ul>
  </div>
</div>