<div class="gallery-container">
  <div class="mediaSelector">
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="button" class="btn btn-info" (click)="createAlbum()">Create Album</button>
      </div>
    </div>
  </div>
  <div class="mediaSelector">
    <div class="row">
      <div class="col-sm-4" *ngFor="let response of getAlbum">
        <div (click)="clickToAlbum(response.result[0].albumName)" style="cursor:pointer">
          <h1>{{response.result[0].albumName}}</h1>
          <img src="data:image/png;base64,{{response.result[0].thumbnail.data}}" alt="" width="100" height="100" />
        </div>
      </div>
    </div>
  </div>
</div>



