<div class="calendar-page">
  <ng-template #loading>
    <div class="spinner text-center">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
  </ng-template>
    <h2 class="text-center">Manage Calendar</h2>
    <!-- <h2 class="text-center">Manage Calendar</h2> -->
  <div class="row">
    <div class="col" *ngIf="events$ | async; else loading; let events">
      <div class="row text-center">
        <div class="col">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
            >
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="col">
              <h3>{{ viewDate | calendarDate: view + "ViewTitle":locale }}</h3>
            </div>
            <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
            >
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <br />
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        [cellTemplate]="customCellTemplate"
      >
      </mwl-calendar-month-view>

      <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
          <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{
            day.badgeTotal
          }}</span>
          <span class="cal-day-number">{{
            day.date | calendarDate: "monthViewDayNumber":locale
          }}</span>
        </div>
        <div *ngIf="day.badgeTotal == 0 && (day.isToday || day.isFuture)" class="addEvents">
          <i class="fa fa-plus-circle" (click)="createEvent(day.date)"></i>
        </div>
      </ng-template>
    </div>
  </div>
</div>
