<div class="section-title">
    <h2 class="text-center">Food, Cloths & Shelter</h2>
</div>

<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">               
                <p>
                    Are you hungry, 
                    do you have food? Do you have weather appropriate clothes?
                    Do you have a safe place to sleep? These questions might be regarded as not right when you do not see the people of these categories; however, statistics show that millions of people die every year because of hunger, millions have no clothes, & millions are homeless. What if we give our extra food, extra pennies, excess clothes to someone dying of starvation on the street or in a remote village? For the sake of God, please contribute what you can. Their blessings will bring every luck and fortune you have been looking for, for years. God Bless You!
                </p>
            </div>
        </div>
    </div>
</div>

