<div class="section-title">
  <h2 class="text-center">Food, Cloths & Shelter</h2>
</div>

<div class="container-fluid bg-white products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <p>
          The immediate basic needs of humans are food, clothing, and shelter. The statistics show that millions of
          people die every year because of hunger, millions have no clothes, & millions are homeless. What if we give
          our extra food, extra pennies, excess clothes to someone dying of starvation on the street or in a remote
          village. Their blessings and wishes will bring cherished happiness and prosperity to you. Your generous
          contribution will ensure a smile on the face of suffering beings.
        </p>
      </div>
    </div>
  </div>
</div>
