<div class="container send-mail-container">
  <div class="row">
    <form [formGroup]="mailForm">
      <div class="email-field">
        <label>From : </label>
        <input
          class="form-control"
          type="text"
          placeholder="from"
          formControlName="from"
          disabled
        />
      </div>
      <div class="email-field">
        <label>To : </label>
        <div class="selected-emails">
          <span
            class="btn btn-primary btn-sm selected"
            *ngFor="let item of toList"
          >
            {{ item
            }}<span class="close-selected" (click)="close(item, 'to')"
              >&nbsp;x</span
            >
          </span>
        </div>

        <input
          id="typeahead-basic"
          #input
          (selectItem)="selected($event, 'to')"
          class="form-control"
          type="text"
          placeholder="To"
          formControlName="To"
          [ngbTypeahead]="search"
          [ngClass]="{ 'selected-user': toList.length > 0 }"
        />
      </div>
      <div class="email-field">
        <label>CC : </label>
        <div class="selected-emails">
          <span
            class="btn btn-primary btn-sm selected"
            *ngFor="let item of ccList"
          >
            {{ item
            }}<span class="close-selected" (click)="close(item, 'cc')"
              >&nbsp;x</span
            >
          </span>
        </div>
        <input
          id="typeahead-basic"
          #input
          (selectItem)="selected($event, 'cc')"
          class="form-control"
          type="text"
          placeholder="cc"
          formControlName="cc"
          [ngbTypeahead]="search"
          [ngClass]="{ 'selected-user': ccList.length > 0 }"
        />
      </div>
      <div class="email-field">
        <label>Subject : </label>
        <input
          class="form-control"
          type="text"
          placeholder="Subject"
          formControlName="Subject"
        />
      </div>
      <div class="email-field">
        <label>Body : </label>
        <textarea formControlName="Body" placeholder="Body"></textarea>
      </div>
      <div class="submit-button">
        <button type="button" class="btn btn-info" (click)="sendMail()">
          SEND
        </button>
      </div>
    </form>
  </div>
</div>
