<div class="modal-body login-modal-body">
  <div class="login-card">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>{{ formType }}</h1>
    <br />
    <span class="error" *ngIf="error.length>0">{{error}}</span>
    <form [formGroup]="loginForm" *ngIf="formType == 'Login'">
      <input
        type="text"
        name="user"
        placeholder="Username"
        formControlName="username"
        autofocus
      />
      <input
        type="password"
        name="pass"
        placeholder="Password"
        formControlName="password"
      />
      <input
        type="submit"
        name="login"
        (click)="onSubmit()"
        class="login login-submit btn btn-info"
        value="login"
        [disabled]="!loginForm.valid"
      />
    </form>
    <form [formGroup]="signupForm" *ngIf="formType == 'Register'">
      <input
        type="text"
        name="user"
        placeholder="Username"
        formControlName="username"
      />
      <input
        type="password"
        name="pass"
        placeholder="Password"
        formControlName="password"
      />
      <input
        type="password"
        name="pass"
        placeholder="Confirm Password"
        formControlName="newPassword"
      />
      <input
        type="submit"
        name="login"
        (click)="onSubmit()"
        class="login login-submit"
        value="Create User"
        [disabled]="!signupForm.valid" class="btn btn-info"
      />
    </form>
    <form [formGroup]="forgotPasswordForm" *ngIf="formType == 'Forgot Password'">
      <input
        type="text"
        name="user"
        placeholder="Email"
        formControlName="email"
      />
      <input
        type="text"
        name="pass"
        placeholder="Confirm Email"
        formControlName="confirmemail"
      />
      <input
        type="submit"
        name="login"
        (click)="onSubmit()"
        class="login login-submit"
        value="Forgot Password"
        [disabled]="!forgotPasswordForm.valid" class="btn btn-info"
      />
    </form>

    <div class="login-help">
      <span (click)="changeForm('Register')">Register</span> •
      <span (click)="changeForm('Forgot Password')">Forgot Password</span>
    </div>
  </div>
</div>
