<div class="container">
    <section>
        <div class="container paddingtop-50 margin-bottom-20">
            <div class="card new-card" *ngFor="let response of result.response">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="card-img-bottom">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="card-block">
                            <h4 class="card-title">Event Name : {{response.eventName}}</h4>
                            <h3>Date : {{response.eventDate | date:'MMM dd yyyy'}}</h3>
                            <p class="card-text">Location : {{response.location}}</p>
                            <p class="card-text">Description : {{response.description}}</p>                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>