<div class="container-fluid">
    <section *ngFor="let response of result.response">
        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-img-bottom">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-block">
                            <h4 class="card-title">{{response.eventName}}</h4>
                            <h3>{{response.eventDate | date:'MMM dd yyyy'}}</h3>
                            <p class="card-text">{{response.description}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>