<div class="section-title">
  <h2 class="text-center">Animal Safety & Rights</h2>
</div>

<div class="container-fluid products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <p>
          The Triratna Foundation's animal safety and rights campaign aim to generate a fair world where animals are
          escorted with love, compassion, and respect. If nobody eats meat, nobody destroys life. Several modern
          Buddhists argue that they can eat meat in the restaurant or markets because they are not killed for the monks
          mainly. They pretend that butchers do not know whether monks exist. According to Buddha's teachings, the meat
          sold in the restaurant and markets comes from animals explicitly killed to provide meat for whoever will buy
          and eat it. When you buy meat in a restaurant or market, you pay a butcher to kill an animal. When you buy
          meat, you voluntarily enlist in the class of people for whom the animals get killed. There are no reliable
          statistics on the number of Buddhists who are vegetarian, but worldwide it is probably about half.
          <br>
          <br>Buddhism's fundamental teachings about animals are:
          <br>
          <b>1)</b> Animals and humans share the exact essential nature. We are not a separate class of beings to whom a
          separate class of ethical rules applies.<br>
          <b>2)</b> The highest Buddhist virtue is compassion, which we are to show to all sentient beings at all
          times.<br>
          <b>3)</b> We should do all in our power to avoid causing suffering or death for any sentient being.
          As the Buddha said in the Dhammapada, perhaps the most widely known and best loved of all Buddhist scriptures:
          All beings tremble before danger. All fear death. When you consider this, you will not kill or cause someone
          else to kill. All beings fear before danger. Life is dear to all. When you consider this, you will not kill or
          cause someone else to kill.<br>
        </p>
        <p>
          The animal rights movement's ultimate goal is to place animals "beyond the use" of human beings, putting an
          end to exploitative industries and practices, including laboratory testing, whaling, and puppy mills.
        </p>
        <p>
          References
          Harvey, Peter, An Introduction to Buddhist Ethics. Cambridge, Cambridge University Press, 2000; pg 68.
        </p>
      </div>
    </div>
  </div>
</div>
