<section id="team" class="team">

  <div class="row" style="margin-left: 0;margin-right: 0;">
    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" style="padding: 0;">
      <div class="member-new">
        <div class="pic"><img src="assets/images/team/kumar_gurung.jpg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <span>His Holiness Kumar Gurung</span>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-4 col-md-6" data-aos="fade-up" style="padding: 0;">
      
      <div class="bg-grey" style="padding: 20px;height: 100%;">
        <h2 class="text-center">Leadership Team</h2>
        <p class="leader-desc">The Board shall crown His Holiness Trulku Rinpoche as the religious head who leads the Center for Buddhist
          Education worldwide. Besides, the Board elects officers of the corporation, including the Chairman, CEO,
          Executive Director, Secretary, Chief Financial Officer, Communication and Public Relation Officer, Program
          Officer, Committee Chairs, Regional Leaders, and other officers may designate by resolution. All officers
          have
          the right to resign at any time by providing notice in writing to the Chairperson of the Board, Executive
          Director, and Secretary of the Corporation. Any vacancies in any office because of death, resignation,
          disqualification, removal, or any other cause shall be filled according to the Bylaws for regular
          appointments
          to such office. If any, the compensation of the officers shall be fixed or determined by resolution of the
          Board of Directors.</p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" style="padding: 0;">
      <div class="member-new">
        <div class="pic"><img src="assets/images/team/trulku_ngawang.jpg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <span>His Holiness Trulku Ngawang S ZangpoRinpoche</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container paddingtop-50 margin-top-50">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic"><img src="assets/images/team/Yogi_Gomchen_Rinpoche.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Yogi Gomchen Rinpoche</h4>
            <span>Spiritual Master</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic"><img src="assets/images/team/Durga_R_Gurung.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Durga R. Gurung</h4>
            <span>Board Member</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="pic"><img src="assets/images/team/rahul_biswa.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Rahul Biswa</h4>
            <span>Board Member</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
        <div class="member">
          <div class="pic"><img src="assets/images/team/mary_lyn_cabral.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Mary Lyn Cabral</h4>
            <span>Board Member</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic"><img src="assets/images/team/amber_chhetri.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Amber Chhetri</h4>
            <span>Board Member</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic"><img src="assets/images/team/no_image_female.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Sandy Aquila</h4>
            <span>Board Member</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="pic"><img src="assets/images/team/khenpo_final_fotor.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Khenpo Karma Wangyal</h4>
            <span>President Nepal</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic"><img src="assets/images/team/tshampo_tshewang.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Tshampo Tshewang Gurung</h4>
            <span>President India</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic"><img src="assets/images/team/m_shree_indrobongha.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>M Sree Indrobongsha Bhikkhu</h4>
            <span>President, Bangladesh</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic"><img src="assets/images/team/bal_gopal_gautam.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Bal Gopal Gautam</h4>
            <span>President (Public), Nepal</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic"><img src="assets/images/team/jerome_okolo.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Jerome Okolo</h4>
            <span>Legal Advisor</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic"><img src="assets/images/team/bishnu_khadka.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Bishnu Khadka</h4>
            <span>Director, Documentary Film & Video Editing</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic"><img src="assets/images/team/james_g.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>James G. Jandrain</h4>
            <span>Tax & Accounting Advisor</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic"><img src="assets/images/team/vishal_chhetri.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Vishal Chhetri</h4>
            <span>IT Advisor</span>
            <div class="social">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<div class="container-fluid bg-white products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <h2>Leadership</h2>
        <p>The corporation shall be governed by a Board of Directors, which shall have all the rights, powers,
          privileges, and limitations of liability of directors of a non-profit corporation organized under the
          Non-Profit Corporation Act of Nebraska. The Board shall establish policies and directives governing the
          corporation's business and programs and shall delegate to the Executive Leaders, Executive Director, and
          corporation Officers/staff, subject to these Bylaws' provisions, authority, and responsibility the policies
          and directives are appropriately followed.</p>
        <p>The Board shall have up to 21 members as required, but no fewer than three (3) Board members. The number of
          Board members may be increased beyond 21 members by the affirmative vote of a simple majority of the
          then-serving Board of Directors. The Board shall receive no compensation other than for reasonable expenses.
          However, provided the compensation structure complies with Sections relating to "Contracts Involving Board
          Members and Officers" as stipulated under these Bylaws, nothing in these Bylaws shall be construed to preclude
          any Board member from serving the corporation in any other capacity and receiving compensation for services
          rendered. </p>
        <p>The Board's regular meetings may be held at such time and place as determined by the Board. The Chairperson
          of the Board or any three regular Board members may call a special meeting of the Board with three days
          written notice provided to each member of the Board. The notice shall be served upon each Board member via
          hand delivery, regular mail, email, or fax. The person(s) authorized to call such special meetings of the
          Board may also establish the place the gathering is to be conducted, so long as it is a proper place to hold
          any special meeting of the Board.</p>
        <p>At each meeting of the Board of Directors or Board Committees, the presence of a simple majority of the
          number of board members at the time of the meeting shall constitute a quorum for a business transaction. If
          the Board consists of an even number of members and the vote results in a tie, then the vote of the
          Chairperson of the Board shall be the deciding vote. The act of the majority of the Board members serving on
          the Board or Board Committees and present at a meeting in which there is a quorum shall be the act of the
          Board or Board Committees unless otherwise provided by the Articles of Incorporation, these Bylaws, or a law
          explicitly requiring otherwise. If a quorum is not present at a meeting, the Board members may adjourn the
          meeting from time to time without further notice until a quorum shall be present. However, a Board member
          shall be considered present at any meeting of the Board or Board Committees if they are present via telephone
          or web conferencing with the other Board members participating in the discussion.</p>
      </div>
    </div>
  </div>
</div>