<div class="container">
  <div class="section-title">
      <h2 class="text-center">Gallery</h2>
  </div> 
<div class="gallery-container">
  <div class="mediaSelector">
    <ul class="list-inline">
      <li class="list-inline-item" *ngFor="let response of getAlbum">
        <div (click)="clickToAlbum(response.result[0].albumName)" style="cursor:pointer">
          <img src="data:image/png;base64,{{response.result[0].thumbnail?.data}}" alt="Album"
            *ngIf="response.result[0].thumbnail?.data">
          <img src="assets/images/photo-library.svg" alt="Album" *ngIf="response.result[0].thumbnail==null">
          <h6 >{{response.result[0].albumName}}</h6>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>