<div class="section-title">
  <h2 class="text-center">Teaching of Buddha & Spirituality</h2>
</div>

<div class="container-fluid products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <h5>Worship Services</h5>
        <p>
          We have a place of worship, routinely scheduled services, and an organized assemblage headquartered in Omaha,
          USA. It incorporates associated cultures, customs, rituals, and spiritual practices based on Lord Buddha's
          original teachings and interpreted philosophies with due respect to other living religions. The guiding
          principles of our activities are three universal truths (nothing is lost in the universe, everything changes,
          the law of cause and effect), Four noble truths, Eight-fold paths, Triratna, Five precepts of Buddhism, Theory
          of Middle-path, Forgiveness & Reconciliation, Enlightenment, Reincarnation, Karma, Nirvana, and Non-sectarian
          view of Buddhism.
          <br>
          <img src="/assets/images/services/teaching_of_buddha_&_spirituality.jpg" alt="devotee" class="img-fluid">

          <b>NOTE:</b> For schedule, please go to "Information" column on this website and check the "Events."
        </p>
      </div>
    </div>
  </div>
</div>
