<div class="gallery-container">
    <div class="mediaSelector">
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-info" routerLink="/edit-profile/gallery">Back</button>
            </div>
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-info" (click)="addMedia(content)">Add Media</button>
            </div>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"
                *ngFor="let response of thumbnailphotos | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalNews,id: 'p' }">
                <div class="text-right">
                    <img src="assets/images/close.svg" alt="Close" class="close-album"
                        (click)="clickToDelete(response.id, deleteMedia)">
                </div>
                <img src="data:image/png;base64,{{response.thumbnail.data}}" alt="Album"
                    *ngIf="response.link==undefined" />
                <iframe width="180" [src]="response.imp[0]" frameborder="0" allowfullscreen *ngIf="response.imp !=undefined"></iframe>
                <img src="assets/images/photo-library.svg" height="157" alt="Album" *ngIf="response.imp == undefined && response.link!=undefined" />
                <h6 title="{{response.link}}"><a target="_blank" rel="noopener noreferrer" href="{{response.link}}">{{response.link}}</a></h6>
            </li>
        </ul>
        <div class="pagination-container">
            <pagination-controls (pageChange)="handlePageChange($event)" id="p"></pagination-controls>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Media</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="email">Album Name</label>
                <input type="text" class="form-control" formControlName="albumName" disabled>
            </div>
            <div class="form-group">
                <label for="email">Link</label>
                <input type="text" class="form-control" formControlName="link">
            </div>
            <div class="form-group">
                <input type="file" (change)="uploadFile($event)" multiple>
            </div>
            <input type="submit" (click)="submitForm();d('Cross click')" name="Add Media" class="btn btn-info"
                value="Add Media" />
        </form>
    </div>
</ng-template>
<ng-template #deleteMedia let-c="close" let-d="dismiss">
    <div class="modal-body">
        Do You want to delete the media ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">No</button>
        <button type="button" class="btn btn-outline-primary" (click)="deleteForm();d('Cross click')">Yes</button>
    </div>
</ng-template>