<div class="section-title">
  <h2 class="text-center">Facility Rentals</h2>
</div>

<div class="container-fluid bg-white products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <p>
          Triratna Foundation offers its space for rent for the following private non-affiliated events with a
          spiritual, meditative, educational, religious, cultural focus:<br>
          <b>•</b> Retreats<br>
          <b>•</b> Meditations<br>
          <b>•</b> Workshops or trainings<br>
          <b> •</b> Meetings<br>
          <b> •</b> Conferences<br>
          <b>•</b> Special receptions<br>
          <b>•</b> Birth, Marriage, & Funeral rituals<br>
          <b>•</b> Religious festivals<br>
        </p>
        <p>
            If you would like to book our center, please read the information below and contact us by email at
          <b>info@triratnafoundation.com</b>
        </p>
      </div>
    </div>
  </div>
</div>
