<div class="section-title" style="margin-top: 120px;">
  <h2 class="text-center">Terms and Conditions</h2>
</div>

<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          TERMS AND CONDITIONS
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <h5 class="text-center">Terms & Conditions of Use</h5>
          <p>
            Triratna Foundation, Inc. maintains this website to provide information about our work and allow you to
            communicate with us online. This website provides a visualized detail and is always available to anyone with
            internet access. It is intended to answer numerous questions that can be better answered than over the
            phone. The website is accessible 24/7/365 through a search engine like Google at a convenient time for the
            visitor. Web visitors can take a virtual tour, spin an object around to see all sides, provide direct
            feedback, and much more. Based on the need, we will update or change the information day by day. The photos,
            videos, and printable materials are made available for instant download on the website to have instant
            access than to wait for mails to arrive. The website is anticipated to build relations with the associates,
            well-wishers, and clients.
          </p>
          <p>
            The Use Agreement portrays our comprehension of you when you visit our site and utilize our materials,
            electronic items, and services. Your site's utilization, materials, electronic items and services, and
            downloading of materials from our site establishes your consent to the terms and conditions put forward
            thus. Triratna Foundation website has several features. In addition to giving information about our programs
            and how we support societies in need worldwide, we recommend reading the complete policy to place forth our
            agreement with you when you tour our website. These terms and conditions have been created for your
            security, just as our own.
          </p>
          <p>
            In this policy, you will see the terms "Triratna Foundation," "we," "our," and "us" – these terms refer to
            Triratna Foundation, Inc., a Nebraska private operating corporation with tax-exempt status according to IRS
            Code Section 501(c)(3). The terms "I," "you," "your," and "yours" refer to visitors and users of our
            website. In the United States, Triratna Foundation is the sole owner of the name "Triratna Foundation, Inc,"
            a registered trademark.
          </p>
          <p>
            All through these policies, you will see the expressions "Triratna Foundation," "we," "our," and "us" –
            these terms allude to Triratna Foundation, Inc., a Nebraska private operating company with tax-exempt status
            according to IRS Code Section 501(c)(3). You will likewise see the expressions "you," "your," and "yours" —
            these terms allude to guests and clients of our site. In the United States, Triratna Foundation is the sole
            possessor of the name "Triratna Foundation, Inc," a registered name.
          </p>
          <p>
            The Triratna Foundation with the symbol of three jewels is the Triratna Foundation, Inc., logo. Your use of
            the name and logo and links bearing the name and logo acknowledges Triratna Foundation, Inc's exclusive
            ownership of the word and right to use the logo.
          </p>
          <p>
            All utilization of or the goodwill related to the name, logo, materials, electronic items, and aids will
            profit Triratna Foundation or its licensors. The logo, electronic items, and services are given without
            guarantees of any sort, express or suggested, including without restriction, warranties of title, or
            non-encroachment. The utilization of our materials, electronic items, and services at the site is
            exclusively at the users' risk
          </p>
          <h5 class="text-center">Linking Terms & Conditions</h5>
          <p style="margin-left: 10px;">
            1. There are limits on the use of name and logo and the connections bearing the name and logo. However, we
            welcome informational and educational use; any materials, electronic products, and services, including our
            name and logo.<br>
            2. Reproducing or downloading our material from the website, name, and logo, linking reputation, and
            utilizing our electronic items or services, you agree to the terms and conditions illustrated in this Terms
            of Use and Linking Agreement and any terms and conditions that laid out in our website elsewhere.<br>
            3. The utilization of Triratna Foundation's website, materials, electronic items, logo, name, services, and
            links bearing our property is subject to legal consequences.<br>
            4. The website, materials, logo, name, and services must be linked to the Triratna Foundation website if
            used.<br>
            5. The links showing our name and logo will continuously be running.<br>
            6. The links showing Triratna Foundation's name and logo may not be combined with some other graphic
            components; nor may they be changed in any way including size, extents, textual style, plan, course of
            action, tones, or elements; nor may they be animated, transformed or in any case mutilated in context or
            look.<br>
            7. Users will neither transfers, appoint, sell, recreate, circulate, or in any case abuse the name and logo
            or your links to Triratna Foundation.<br>
            8. The name, logo, or links of Triratna Foundation won't appear on any pages of any sites that incorporate
            substance or publicizing for alcohol, tobacco, sexual entertainment, biased material, political material, or
            weapons.<br>
            9. The name, logo, or links of Triratna Foundation won't appear on any pages of any sites that incorporate
            materials against peace, prosperity, and happiness.<br>
            10. The name, logo, or links of Triratna Foundation will not appear on any pages of any sites that encourage
            cruelty to humans and animals in the world.<br>
            11. The consequences for infringing the terms and conditions may include but are not limited to the
            cancellation of use within three days of notice of revocation. It is inappropriate and may violate the law
            to post or download the material you don't own without consent to use.<br>
            12. The violation of someone's copyright, trademark, or other intellectual property rights may subject you
            to civil and criminal trials.<br>
            13. We reserve all the right to alter the information and permission granted herein at any time for any
            purpose, and you are accountable for grasping such modifications. Federal and Nebraska state law shall
            supervise this Agreement.<br>
          </p>

          <h5 class="text-center">Inappropriate Use</h5>
          <p style="margin-left: 10px;">
            1.	It is inappropriate to use Triratna Foundation's website, materials, name, logo, electronic products, and services for unlawful, improper, or offensive purposes or aid such actions.<br>
            2.	Illegal activities are those that infringe laws, regulations, and private arrangements, including federal or state charitable laws, copyright laws, trademark laws, permits, or other intellectual property rights.<br>
            3.	Inappropriate uses are any utilizations other than as allowed by this Terms of Use and Linking Agreement or as might be permitted on our site.<br>
            4.	We may seek appropriate action to terminate any uses of our material, electronic products, and services, name, logo, and links at our sole discretion, even if your use does not conform to any of the conditions of these terms of use Linking Agreement. Infringing any intellectual property adversely affects our image, reputation, products, services, or programs; violates any applicable law, regulation, or ordinance; and is a prohibited activity.<br>            
          </p>

          <h5 class="text-center">Prohibited Actions</h5>
          <p style="margin-left: 10px;">
            1. Uploading, forwarding, or promoting illegal content through our website.<br>
            2. Harassing, threatening, or embarrassing others by using our website, material, and services. <br>
            3. Sending or encouraging dispersion of false, threatening, bothering, racially or ethnically hostile, offensive, sexually explicit, obscene, defamatory, or frightful.<br>
            4. Use any vulgar and abusive language at chat areas that might obstruct regular actions.<br>
            5. Representing to be someone from Triratna Foundation when you are not.<br>
            6. Trying to steal our information such as users name, password, and other account information. <br>
            7. Posting undesirable content or designs, including publicity and promotional supplies, on the Triratna Foundation website.<br>            
          </p>
          <button type="button" class="btn btn-primary btn-sm" style="float: right;margin: 4px;"><a
              href="https://triratna-docs.s3.us-east-2.amazonaws.com/Terms+%26+Conditions.docx">Download</a></button>

        </div>
      </div>
    </div>
  </div>
</div>
