.gallery-container .mediaSelector ul li img {
  border-radius: 9px;
  width: 180px;
}

.gallery-container .mediaSelector ul li h6 {
  font-size: 16px;
  margin-top: 5px;
}

.gallery-container .mediaSelector ul li img.close-album {
  width: 14px;
  cursor: pointer;
}

.gallery-container .mediaSelector .list-inline-item {
  vertical-align: text-top;
}

.gallery-container .mediaSelector .list-inline-item h6 {
  white-space: nowrap;
  width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-container .mediaSelector .list-inline-item:not(:last-child) {
  margin-right: 40px;
}

.gallery-container .pagination-container {
  text-align: center;
  margin-top: 50px;
}
