<div class="container">
    <div class="section-title">
        <h2 class="text-center">View Album</h2>
    </div>

<div class="gallery-container">
    <div class="mediaSelector">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-info" routerLink="/informations/gallery">Back</button>
            </div>
        </div>
        <ul class="list-inline imglist">
            <li class="list-inline-item"
                *ngFor="let response of thumbnailphotos | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalAlbumItem}">
                <a [href]="response.fileImp[0]" data-fancybox="images" *ngIf="response.link==undefined">
                    <img src="data:image/png;base64,{{response.thumbnail.data}}" alt="Album" />
                </a>
                <iframe width="180" [src]="response.imp[0]" frameborder="0" allowfullscreen
                    *ngIf="response.imp !=undefined"></iframe>
                <img src="assets/images/photo-library.svg" height="157" alt="Album"
                    *ngIf="response.imp == undefined && response.link!=undefined" />
                <h6 title="{{response.link}}"><a target="_blank" rel="noopener noreferrer"
                        href="{{response.link}}">{{response.link}}</a></h6>
            </li>
        </ul>
        <div class="pagination-container">
            <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
        </div>
    </div>
</div>
</div>