.stories-container {
  padding: 50px 0 30px;
  .card-list {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    .story-date {
      font-size: 12px;
      label {
        font-weight: bold;
      }
    }
    .story-thumbnail {
      text-align: center;
      .default-image {
        font-size: 150px;
      }
    }
    .stories-content {
      border-top: 1px solid #eee;
      padding-top: 20px;
      height: 140px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
      img {
        display: none;
      }
    }
    a{
      float: right;
    }
  }
  .pagination-container {
    text-align: center;
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .stories-container .card-list .story-thumbnail .default-image {
    font-size: 70px;
  }
  .stories-container .card-list .story-thumbnail img {
    width: 70px;
  }
  .stories-container {
    padding: 30px 25px;
  }
  .ngx-pagination {
    padding: 0;
  }
}
