<div class="section-title">
  <h2 class="text-center">Stories</h2>
</div>
<div class="stories-container container">
  <div class="card-list row" *ngFor="let story of allStories | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalStories }" >
    <div class="col-4 story-thumbnail">
      <img *ngIf="story.thumbnail?.data" src="data:image/png;base64,{{story.thumbnail?.data}}"/>
      <span *ngIf="!story.thumbnail?.data" class="default-image"><i class="fa fa-book" aria-hidden="true"></i></span>
    </div>
    <div class="col-8">
      <h3>{{story.title}}</h3>
      <div class="story-date">
        <label>Date:</label>  {{story.createdDate| date}}
      </div>
      <div class="stories-content" [innerHtml]="story.content"></div>
      <a routerLink="story-details/{{story.id}}">Read More +</a>
    </div>
  </div>
  <div class="pagination-container">
    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>
