<div class="stories-container container">
  <div class="card-list row" *ngFor="let story of allStories | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalStories }" (click)="viewStory(story)">
    <div class="col-4">
      <img *ngIf="story.thumbnail?.data" src="data:image/png;base64,{{story.thumbnail?.data}}"/>
      <span *ngIf="!story.thumbnail?.data"><i class="fa fa-book" aria-hidden="true"></i></span>
    </div>
    <div class="col-8">
      <h3>{{story.title}}</h3>
      <div class="story-date">
        <label>Created Date:</label>  {{story.createdDate| date}}
      </div>
      <div class="story-date">
        <label>Updated Date: </label> {{story.lastUpdatedDate| date}}
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>
