.news-container {
  padding: 50px 0 30px;
  .card-list {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    .news-thumbnail {
      text-align: center;
      .default-image {
        font-size: 150px;
      }
    }
    .news-date {
      font-size: 12px;
      label {
        font-weight: bold;
      }
    }
    .news-content {
      border-top: 1px solid #eee;
      padding-top: 20px;
      height: 152px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
      img {
        display: none;
      }
    }
    a{
      float: right;
    }
  }
  .pagination-container {
    text-align: center;
    margin-top: 50px;
  }
}
