<h2 class="text-center">Devotee</h2>
<div class="container bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <p>Anyone who matches the criteria specified below is qualified to signup as a devotee. There is no cost to sign up. We provide equal opportunities to all irrespective of race, color, religion, sex, national origin, age, disability, or genetics. </p>
            </div>
            <div class="col-md-12">
                <h5>Criteria</h5>
                <p>Anyone who believes in the three universal truths of Buddhism(nothing is lost in the universe, everything changes, the law of cause and effect), Four noble truths, Eight-fold paths, Triratna, The Five Precepts, Theory of Middle-path, Forgiveness & Reconciliation, Enlightenment, Reincarnation, Karma, Nirvana, and Non-sectarian view of Buddhism qualify to sign up as a Devotee.</p>
            </div>
            <div class="col-md-12">
                <h5>Duties</h5>
                <p>The primary activities of a devotee affiliated with TRIRATNA INTERNATIONAL FOUNDATION, Inc is to participate in the prayers, rituals, studies, meditation practices, religious and spiritual learnings, care for others, and involvement in the actions for peace, prosperity, & happiness for humans and animals globally. </p>
            </div>
        </div>
    </div>
</div>