<div class="section-title">
  <h2 class="text-center">Rehearsal of Panchasila</h2>
</div>
<div class="container-fluid bg-white products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <p>
          The five precepts (Panchasila) is the most significant way of morality for Buddhist laypeople. They constitute
          the fundamental code of ethics to be undertaken by devotees, well-wishers, and Triratna Foundation supporters.
          The Panchasila is the commitment to abstain from:
        </p>
        <p style="margin-left: 10px;">
          <b>1.</b> Killing<br>
          <b>2.</b> Stealing<br>
          <b>3.</b> Sexual misconduct<br>
          <b>4.</b> Wrong speech, and <br>
          <b>5.</b> Use of intoxicating substances that cause distraction.
        </p>
        The followers of these virtues accomplish Right Action, Right Speech, and Right Livelihood practiced by Buddha
        in the Eightfold Path. Each of the precepts has depth and wholesome qualities that we practice in our daily
        life.

        <p style="margin-left: 10px;">
          <b>1.</b> Abstain from killing includes all beings, including animals, insects, birds, suicide, and the like.
          Love and kindness is the base of this principle, and if practiced, you will become a safe-haven, a light of
          peace, and a non-violent being.<br>
          <b>2.</b> Abstain from stealing; what is not given is the basis of this precept. It develops generosity and
          respect for the property of others.<br>
          <b>3.</b> Abstain from sexual misconduct does not stop sexual acts in general for laypeople; however, it is
          against unwanted or abusive sexual acts. Meditation is the best way to stay away from sexual desire. It is a
          part of Right Intention in the Eightfold Path.<br>
          <b>4.</b> Abstaining from wrong speech means delivering the Right speech, one of the Eightfold Paths.
        </p>
        <p style="margin-left: 25px;">
          - Not lying<br>
          - Not creating division amongst others by your speech. <br>
          - Not using inappropriate language.<br>
          - Not gossiping
        </p>
        It involves non-verbal and written communication as well. It positively impacts the development of honesty or
        truthfulness.

        <p style="margin-left: 10px;">
          <b>5.</b> Abstain from using intoxicating substances will stop carelessness and distractions that might lead
          to losing control and break the other precepts. You might as well lose the internal peace and energy.
        </p>
        <p><b>NOTE:</b> For schedule, please go to "Information" column on this website and check the "Events."</p>
        <br>
        <h5>Meditational Classes & Retreat</h5>
        <p>
          One of the precious visions of Triratna Foundation is to make our centers a novel place for meditation,
          spiritual growth and practice.
        </p>
        <p><b>NOTE:</b> For schedule, please go to "Information" column on this website and check the "Events."</p>
      </div>
    </div>
  </div>
</div>
