<div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="employees">
                    <p class="counter-count">27</p>
                    <p class="employee-p">Monks</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="customer">
                    <p class="counter-count">67</p>
                    <p class="customer-p">Devotee</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="design">
                    <p class="counter-count">87</p>
                    <p class="design-p">Well-wisher</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="order">
                    <p class="counter-count">50</p>
                    <p class="order-p">Sponsor</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="order">
                    <p class="counter-count">21</p>
                    <p class="order-p">Donor Inc.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="order">
                    <p class="counter-count">15</p>
                    <p class="order-p">Org. Affiliates
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>