<section class="counts section-bg paddingtop-50">
    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-6 text-center aos-init aos-animate" data-aos="fade-up">
                <div class="count-box">
                    <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                    <span data-toggle="counter-up" class="counter-count">232</span>
                    <p>Monks</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="count-box">
                    <i class="icofont-document-folder" style="color: #c042ff;"></i>
                    <span data-toggle="counter-up" class="counter-count">521</span>
                    <p>Devotee</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                <div class="count-box">
                    <i class="icofont-live-support" style="color: #46d1ff;"></i>
                    <span data-toggle="counter-up" class="counter-count">1463</span>
                    <p>Well-wisher</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                <div class="count-box">
                    <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
                    <span data-toggle="counter-up" class="counter-count">15</span>
                    <p>Sponsor</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                <div class="count-box">
                    <i class="icofont-live-support" style="color: #46d1ff;"></i>
                    <span data-toggle="counter-up" class="counter-count">1463</span>
                    <p>Donor Inc.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                <div class="count-box">
                    <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
                    <span data-toggle="counter-up" class="counter-count">15</span>
                    <p>Org. Affiliates</p>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="container-fluid bg-grey products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Supporters & Partners</h2>
                <p>The potential sources of any support such as donations, gifts, bequests, grants, permissions,
                    licenses, and permits to run the activities of TRIRATNA FOUNDATION Inc are our supporters. They are
                    foundations, Organizations, Associations, Corporations, Firms, NGOs, INGOs, Governments and their
                    Departments, UNO Specialized Agencies, etc... TRIRATNA FOUNDATION, Inc. is a 501(c)(3) corporation.
                    All donations and gifts are deductible to the amount permissible under IRS regulations in the US.
                </p>
            </div>
        </div>
    </div>
</div>