<div class="section-title">
    <h2 class="text-center">Fresh Air & Clean Water</h2>
</div>
<div class="container">
    <p>
        Low-resource countries are disproportionally overwhelmed by chronic lung disease
(CLD) due to early childhood disadvantages and indoor/outdoor air pollution. However, data
on the socioeconomic impact of respiratory infections in these settings are mostly lacking.
Therefore, we aimed to estimate the chronic lung disease-related socioeconomic burden in
diverse low-resource backgrounds worldwide. To inform government and health policies
worldwide, we focused on work productivity and activity impairment and its modifiable
clinical and environmental risk factors (Brakema et al., 2019). The severity of breathlessness,
smoking, and solid fuel use are significant modifiable risk factors for impairment. We want to
increase awareness on the impact of CLD and the risk factors, preventive actions regarding
tobacco and fuel use, and enhance clinical management of CLD in low-resource settings by
healthcare workers, policymakers, patients, and governments (Brakema et al., 2019).
    </p>
    <p>
        The 17th Sustainable Development Goals (SDG) of the United Nations were constructed
to address global crises including poverty, inequality, climate, environmental degradation,
peace, and justice. The SDG sees that too many people still lack access to safe water supplies
and sanitation facilities (Goss., 2021). Our projects provide the UN, the governments, and
policymakers an opportunity to grow as global citizens through increasing access to clean
water and sanitation and developing their effectiveness. We&#39;ll communicate, convince, and
share the importance of clean water.
    </p>
</div>
