<div class="section-title">
  <h2 class="text-center">Save Children, Vulnerable & Old</h2>
</div>


<div class="container-fluid products">
  <div class="container paddingtop-20 paddingbottom-10">
    <div class="row">
      <div class="col-md-12">
        <p>
          The children, vulnerable and old, are the most defenseless and always among the first to respond, and their
          voices being heard the first. We work to take care of their problems to the best we could. They are dying from
          preventable causes, missing education, suffering from violence, exploitation, neglect, and are vulnerable in
          emergency circumstances. They need a powerful voice to stand up for them, act on their behalf and make their
          lives pleasanter across the globe. Triratna Foundation is the voice for these vulnerable through global
          programs that focus on hunger, clothing, shelter, safety, protection, health, education, emergency, and
          disaster reliefs.
        </p>
      </div>
    </div>
  </div>
</div>
