<div class="container content paddingtop-30 paddingbottom-30">
    <div class="row">
        <div class="col-md-12">
            <div class="headline">
                <h2>Contact Form</h2></div>
            <p>Thank you for your interest in TurningPoint Global Solutions. To help us route your request to the appropriate party, we need some information about you and the nature of your inquiry. We will make every attempt to respond within 48 hours.</p>
            

            <h4>Please Tell Us About You.</h4>
        </div>
        <div class="col-md-6">
            <label>Name <span class="color-red">*</span></label>
            <input class="txtname form-control" name="txt_firstname">
            <label>Email <span class="color-red">*</span></label>
            <input class="txtname form-control" name="txt_email" maxlength="80" >
            <label>Phone Number <span class="color-red">*</span></label>
            <input class="txtname form-control" name="txt_phone">
            <label>Company/Agency <!-- <span class="color-red">*</span> --></label>
            <input class="txtname form-control" name="txt_company" maxlength="80">
        </div>
        <div class="col-md-6">
            <label>Message <!-- <span class="color-red">*</span> --></label>
            <textarea rows="5" class="form-control" name="textarea_comment"></textarea>
            <p class="text-right send-msg-btn paddingtop-20" name="textarea_comment">
                <button type="submit" class="btn btn-info btn-lg">Send Message</button>
            </p>
        </div>
    </div>
</div>