.stories-container {
  padding: 50px 0 30px;
  .story-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    .stories-date {
      font-size: 12px;
      label {
        font-weight: bold;
      }
    }
    .stories-content {
      padding: 20px 0;
      height: 150px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }
    .actions {
      span {
        display: inline-block;
        margin: 0 15px;
      }
    }
  }
  .pagination-container {
    text-align: center;
    margin-top: 50px;
  }
}

