<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item carousel-1 active">
            <img src="assets/images/slider1.jpg" alt="Los Angeles" class="img-fluid">
            <div class="carousel-caption">
                <!-- <h3>Los Angeles</h3> -->
                <!-- <p>We had such a great time in LA!</p> -->
            </div>
        </div>
        <div class="carousel-item carousel-2">
            <img src="assets/images/slider2.jpg" alt="Chicago" class="img-fluid">
            <div class="carousel-caption">
                <!-- <h3>Chicago</h3> -->
                <!-- <p>Thank you, Chicago!</p> -->
            </div>
        </div>
        <div class="carousel-item carousel-3">
            <img src="assets/images/slider3.jpg" alt="New York" class="img-fluid">
            <div class="carousel-caption">
                <!-- <h3>New York</h3> -->
                <!-- <p>We love the Big Apple!</p> -->
            </div>
        </div>
        <div class="carousel-item carousel-4">
            <img src="assets/images/slider4.jpg" alt="New York" class="img-fluid">
            <div class="carousel-caption">
                <!-- <h3>New York</h3> -->
                <!-- <p>We love the Big Apple!</p> -->
            </div>
        </div>
        <div class="carousel-item carousel-5">
            <img src="assets/images/slider5.jpg" alt="New York" class="img-fluid">
            <div class="carousel-caption">
                <!-- <h3>New York</h3> -->
                <!-- <p>We love the Big Apple!</p> -->
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="container-fluid bg-grey products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Introduction</h2>
                <p>TRIRATNA INTERNATIONAL FOUNDATION is a Buddhism based Non-Profit Corporation with a place of worship, routinely scheduled services, and an organized assemblage headquartered in Omaha, USA. It incorporates associated cultures, customs, rituals, and spiritual practices based on Lord Buddha's original teachings and interpreted philosophies with due respect to other living religions. The guiding principles of the corporation are three universal truths (nothing is lost in the universe, everything changes, the law of cause and effect), Four noble truths, Eight-fold paths, Triratna, Five precepts of Buddhism, Theory of Middle-path, Forgiveness & Reconciliation, Enlightenment, Reincarnation, Karma, Nirvana, and Non-sectarian view of Buddhism.</p>
                <p>It is operated by the monks, volunteers, sponsors, donors, and well-wishers to perform and accomplish peace, prosperity, and happiness and prevent cruelty to humans and animals in the world. Triratna INTERNATIONAL 
                    Foundation Inc is subject to and governed by the Non-Profit Corporation Act of Nebraska, IRS Tax Code Section 501(c)3 (USA), and the Articles of Incorporation. The legal name is TRIRATNA INTERNATIONAL FOUNDATION Inc, and the DBA is <b>Triratna International.</b> </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Mission</h2>
                <p>Our mission is to ensure a smile on the face of every suffering being. </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Vision</h2>
                <p>To be the most reliable wheel for peace, prosperity, & happiness for humans and animals globally.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Values</h2>
                <p>Love, compassion, integrity, accountability, enthusiasm, justice, energy, initiative, result-oriented, hard work, informative, innovation, quality, inspiration, generosity, culture, faith, spirituality, confidence, clarity, creativity, diversity, self-discipline, self-respect, role-model, teamwork, others first, and change.</p>
            </div>
        </div>
    </div>
</div>
