
<h2 class="text-center">Donor Agency</h2>

<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <p>Any organization, agency, foundation, gonpa, temple, church, business corporations, firms, and government that donates our operational projects and activities with financial support is requested to sign up as a donor agency. This category applies to agencies specified above only. The donors could donate one-time or monthly money contributions, gift cards, gifts, bequests, inventory, vehicle, land, building, etc. If you are an individual sponsor and not an agency, please click here. There is no cost to sign up. We welcome everyone irrespective of race, color, religion, sex, national origin, age, disability, or genetics to be our Donors. </p>
            </div>
            <div class="col-md-12">
                <h5>Duties</h5>
                <p>The primary responsibility of a donor agency affiliated with TRIRATNA INTERNATIONAL FOUNDATION, Inc is to make sure whether your donation is utilized for the purpose you have contributed for or to build peace, prosperity, & happiness for humans and animals globally and ensure a smile on the face of every suffering being. </p>
            </div>
        </div>
    </div>
</div>