<div class="section-title" style="margin-top: 120px;">
  <h2 class="text-center">Policies & Standard</h2>
</div>
<div class="container">
  <div id="accordion">

    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          CHARITABLE DONATIONS POLICY
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <p>
            <b>Triratna Foundation, Inc (DBA)</b> is committed to supporting causes that improve the quality of life for
            the
            residents of the USA and internationally. We frequently make donations of cash, goods, or services to needy.
            All parties requesting support from the TF must complete a Charitable Donation Request form. The completed
            form should fully explain the nature of the contribution being sought and include all requested
            documentation.
          </p>
          <br>
          <h5 class="text-center">Contributions Policy to Affiliates & Operating Partners</h5>
          <p style="margin-left: 10px;">
            • The organization must also be a 501(c)(3) or non-profit organization. <br>
            • Complete proposals include a description of the organization, its mission and major accomplishments, and a
            list of current key staff. <br>
            • Nonprofit organizations should submit their registration number or tax-exempt letters.<br>
            • Complete proposals will be verified and approved by the TF Board.<br>
            • Incomplete proposals may not be considered or requested for resubmission. <br>
            • No individuals will take any vested benefit from the TF, Inc. donation. <br>
            • Not a single penny is utilized for any domestic or foreign political activities. <br>
            • Any lobbying activities will not be the organization's substantial part of the activities. <br>
            • We'll comply with the USA - IRS reporting requirements and other legal conditions.<br>
            • We are responsible to ensure that the use of funds has control over the specific operation designated.
            <br>
            • The recipient has to submit a detailed accounting of the expenditures annually. <br>
            • This organization will comply with all the possible filing requirements when it has transactions with
            foreign non-profit organizations or individuals.<br>
          </p>
          <button type="button" class="btn btn-primary btn-sm" style="float: right;margin: 4px;"><a
              href="https://triratna-docs.s3.us-east-2.amazonaws.com/CHARITABLE+DONATIONS+POLICY.docx">Download</a></button>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          CONFLICT OF INTEREST POLICY
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>
            <b>Triratna Foundation, Inc (DBA)</b> is committed to supporting causes that improve the quality of life for
            the
            residents of the USA and internationally. We frequently make donations of cash, goods, or services to needy.
            All parties requesting support from the TF must complete a Charitable Donation Request form. The completed
            form should fully explain the nature of the contribution being sought and include all requested
            documentation.
          </p>
          <h5 class="text-center">Restriction on Interested Directors</h5>
          <p>
            Not more than Maximum Percentage of Board% (percent) of the persons serving on the Board of Directors at any
            time may be interested persons. An interested person is (1) any person currently being compensated by the
            Corporation/Organization for services rendered to it within the previous twelve (12) months, whether as a
            full-time or part-time employee, independent contractor, or otherwise, excluding any reasonable compensation
            paid to a director; and (2) any brother, sister, parent, ancestor, descendent, spouse, brother-in-law,
            sister-in-law, son-in-law, mother-in-law, or father-in-law of any such person. However, any violation of the
            provisions of this section shall not affect the validity or enforceability of any transaction entered into
            by the interested person.
          </p>
          <h5 class="text-center">Duty to Disclose</h5>
          <p>
            In connection with any actual or possible conflict of interest, an interested person must disclose the
            existence of the financial interest and be given the opportunity to disclose all material facts to the
            directors who are considering the proposed transaction or arrangement.
          </p>

          <h5 class="text-center">Establishing a Conflict of Interest</h5>
          <p>
            After the disclosure of the financial interest and all material facts, and after any discussion with the
            interested person, the interested person shall leave the Board meeting while the potential conflict of
            interest is discussed and voted upon. The remaining Board members shall decide if a conflict of interest
            exists.
          </p>

          <h5 class="text-center">Addressing a Conflict of Interest</h5>
          <p>
            In the event that the Board should establish that a proposed transaction or arrangement establishes a
            conflict of interest, the Board shall then proceed with the following actions:
          </p>
          <p style="margin-left: 10px;">
            1. Any interested person may render a request or report at the Board meeting, but upon completion of
            said
            request or report the individual shall be excused while the Board discusses the information and/or material
            presented and then votes on the transaction or arrangement proposed involving the possible conflict of
            interest.<br>
            2. The Chairman of the Board of the Board shall, if deemed necessary and appropriate, appoint a
            disinterested person or committee to investigate alternatives to the proposed transaction or
            arrangement.<br>
            3. After exercising due diligence, the Board shall determine whether the Corporation/Organization
            can obtain
            with reasonable efforts a more advantageous transaction or arrangement from a person or entity that would
            not give rise to a conflict of interest.<br>
            4. If a more advantageous transaction or arrangement is not reasonably possible under circumstances
            not
            producing a conflict of interest, the Board shall determine by a majority vote of the disinterested
            directors whether the transaction or arrangement is in the best interest of the Corporation/Organization,
            for its own benefit, and whether it is fair and reasonable. It shall make its decision as to whether to
            enter into the transaction arrangement in conformity with this determination.<br>

          </p>

          <h5 class="text-center">Violations of Conflict-of-Interest Policy</h5>
          <p>
            Should the Board have reasonable cause to believe an interested person has failed to disclose actual or
            possible conflicts of interest, the Board shall then inform the interested person of the basis for such
            belief and afford the interested person an opportunity to explain the alleged failure to disclose.
          </p>
          <p>
            If, after hearing the interested person's explanation, and after making further investigation as may be
            warranted in consideration of the circumstances, the Board determines the interested person intentionally
            failed to disclose an actual or possible conflict of interest, it shall take appropriate disciplinary and
            corrective action.
          </p>

          <h5 class="text-center">Procedures and Records</h5>
          <p>
            All minutes of the Board Meetings, when applicable, shall contain the following information:<br>
          </p>
          <p style="margin-left: 10px;">
            1. The names of all the persons who disclosed or otherwise were found to have a financial interest
            in
            connection with an actual or possible conflict of interest, the nature of the financial interest, any action
            taken to determine whether a conflict of interest was present, and the Board's decision as to whether a
            conflict of interest in fact existed.<br>
            2. The names of the persons who were present for discussions and any votes relating to the
            transaction or
            arrangement, the content of the discussions, including any alternatives to the proposed transaction or
            arrangement, and a record of any vote taken in connection with the proceedings.<br>

          </p>

          <h5 class="text-center">Acknowledgement of Conflict-of-Interest Policy</h5>
          <p>
            Each director, principal officer, and member of a committee with Board delegated powers shall be required to
            sign a statement which affirms that such person:<br>
          </p>
          <p style="margin-left: 10px;">
            1. Has received a copy of the conflict-of-interest policy.<br>
            2. Has read and understands the policy.<br>
            3. Has agreed to comply with the policy and<br>
            4. Understands that the Corporation/Organization is charitable, and in order to maintain its federal
            tax
            exemption, it must engage primarily in activities which accomplish one or more of its tax-exempt
            purposes.<br>
          </p>
          <button type="button" class="btn btn-primary btn-sm" style="float: right;margin: 4px;"><a
              href="https://triratna-docs.s3.us-east-2.amazonaws.com/CONFLICT+OF+INTEREST.docx">Download</a></button>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          EDUCATIONAL & TRAINING SUPPORT POLICY
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>
            The Triratna Foundation, IncEducation & Training Support Committee (TFETSC) is responsible for evaluating
            all education and training support applicants and selecting recipients using the procedure described below.
            The TFETSC consists of four members and the Triratna Foundation Chairman/CEO. The Board of Directors approve
            the TFETSC Members each year upon Chairman/CEO's final mark. The TFETSC is committed to encouraging students
            to enroll in a fair, equitable, and competitive manner.
          </p>
          <h5 class="text-center">Award Procedure</h5>
          <p>
            The Triratna Foundation, Inc (TF) offers education and training support to students with distressed
            financial background. These are supported by generous private and corporate donors, many of whom have
            established education& training support account with TF.
          </p>
          <h5 class="text-center">Support Notification</h5>
          <p>
            At the appropriate time, each year, TF notifies all the international operating committees of available
            supports in writing using email. Information in this email includes the type of the support, number of
            awards, eligibility criteria, and application requirements.
          </p>
          <h5 class="text-center">Number of awards and award amount</h5>
          <p>
            The amount awarded for each education& training support is determined using the award agreement established
            between the recipient and the TF Board. The number of awards may vary from year to year and depends on
            availability. The number of awards and award amount is communicated to students.
          </p>
          <h5 class="text-center">Eligibility requirements</h5>
          <p>
            The eligibility requirements for each education and training support are established in the award agreement
            between the recipient and the TF. When each education& training support is announced, the terms and
            conditions are communicated to students and their parents. In general, an award may base on a financial need
            or other criteria as determined by TF.
          </p>
          <h5 class="text-center">Applications</h5>
          <p>
            All the pre-approved applications and supporting materials are compiled by the TFETSC, ensuring that the
            application is complete. The completed applications are forwarded to the TF board, along with their
            eligibility and <b>Charitable Donation Request Form (CDRF)</b> through one of the TF Country Presidents.
          </p>
          <h5 class="text-center">Final Application Review</h5>
          <p>
            The TF Boardreviews applications ultimately for each candidate using the eligibility and application
            requirements established in the award agreement. The TF Board further considers applicants based on the
            endorsement of TFETSC who meet the eligibility and application requirements. When a decision is made, the
            TFETSC Chair, TF Country Presidents, and the school Principal will communicate the result to the students'
            parents.
          </p>

          <h5 class="text-center">TFESC Responsibilities:</h5>
          <p style="margin-left: 10px;">
            1. TFESC Chair will coordinate all the education & training related activities and update the TF Country
            Presidents and TFESC country members.<br>
            2. TFETSC will disburse the fund timely and appropriately.<br>
            3. The Chair of the TFETSC will keep the record of all the payments and expenses.<br>
            4. The Chair of the TFETSC will also keep receipts for financial aid at the appropriate time.<br>
            5. He is responsible for education and training support accounting and reporting to TF Board by December 31,
            of each US fiscal year.<br>

          </p>

          <h5 class=" text-center">Educational Support Benefits</h5>
          <p>
            The TF Education& Training Support covers the following expenses during the qualified term:
          </p>
          <p style="margin-left: 10px;">
            1. One set of school uniform each year.<br>
            2. Transportation cost by the school bus.<br>
            3. The cost of all the stationery.<br>
            4. One-time lunch on a school day.<br>
            5. Total tuition fees by the school.<br>
          </p>

          <h5 class="text-center">Support Cancellation</h5>
          <p>
            The policy and procedures for education& training support awards/funds are reviewed periodically and are
            subject to change or cancellation upon the breach of the following policies:
          </p>
          <p style="margin-left: 10px;">
            1. Unable to acquire passing grades in each grade level.<br>
            2. Missing 10% or more of the school attendance in an academic year. Absence due to the reasonable ground is
            excused. <br>
            3. In light of the expulsion, after school officials have tried everything else to correct children's
            behavior.<br>
            4. Found with a gun or unlawful weapons at the school premises.<br>
            5. Bringing illegal drugs to School.<br>
            6. Hurting or threatening to harm another student or a teacher.<br>
            7. Making terroristic threats or criminal charges against him/her. <br>
          </p>

          <button type="button" class="btn btn-primary btn-sm" style="float: right;margin: 4px;"><a
              href="https://triratna-docs.s3.us-east-2.amazonaws.com/Educational+Support+Policy.docx">Download</a></button>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseFour">
          SCHEDULE A. (GONPA or TEMPLE)<br>2a,b,c; 3; 4a,b; 5a,b;
        </a>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <p>
            <b>TRIRATNA FOUNDATION</b> has been formed as a <b>Private Operating Foundation</b> operated by the monks
            (Ministers),
            volunteers, well-wishers, and sponsors to perform all things incidentally to appropriate primary purposes.
            It
            is a Buddhist organization with formal code of doctrine and discipline with a place of worship, regularly
            scheduled services, and an organized assemblage. It encompasses various traditions, customs, rituals,
            methods,
            ideas, and spiritual practices based on original teachings attributed to Buddhism and interpreted
            philosophies
            with due respect to other existing religions.
          </p>
          <p>
            Buddhism is the 4th largest religion, with over 520 million devotees, or around 7% of the global population,
            known as Buddhists. It is a religion, spirituality, philosophy, science, the art of living, and the beings'
            rights and a moral discipline, originating in Nepal and India in the 6th and 5th centuries BC. It was
            founded
            by the sage Siddhartha Gautam who, according to legend, had been a Hindu prince before leaving his palace
            and
            wealth to become a spiritual monk and, finally, an enlightened being who taught others how they could escape
            samsara, the cycle of suffering, rebirth, and death. Tripitaka is the literature of Buddhism.
            The guiding principles of TRIRATNA FOUNDATION are three universal truths (nothing is lost in the universe,
            everything changes, the law of cause and effect), Four noble truths, Eight-fold paths, Triratna, Five
            precepts
            of Buddhism, the theory of Middle-path, Forgiveness & Reconciliation, Enlightenment, Reincarnation, Karma,
            Nirvana, and Non-sectarian view of Buddhism.
          </p>
          <p>
            <b>Vision:</b> To be the most reliable minister for peace, prosperity, & happiness for humans and animals
            globally.
          </p>
          <p>
            <b>Mission:</b> Our mission is to ensure a smile on the face of every suffering being.
          </p>
          <h5 class="text-center">Officers</h5>
          <p>
          The Board shall crown His Holiness Trulku Rinpoche as the religious head who leads the Center for Buddhist
          Education worldwide. Besides, the Board electsofficers of the corporation, including the Chairman, CEO,
          Executive Director, Secretary, Chief Financial Officer, Communication and Public Relation Officer, Program
          Officer, Committee Chairs, Regional Leaders, and other officers may designate by resolution. All officers have
          the right to resign at any time by providing notice in writing to the Chairperson of the Board, Executive
          Director, and Secretary of the Corporation. Any vacancies in any office because of death, resignation,
          disqualification, removal, or any other cause shall be filled according to the Bylaws for regular appointments
          to such office. If any, the compensation of the officers shall be fixed or determined by resolution of the
          Board of Directors.
        </p>
          <h5 class="text-center"> Monks & Nuns</h5>
    <p>
          Anyone who matches the criteria specified below is qualified to sign up as a monk/nun volunteer. There is no
          cost to sign up. We provide equal opportunities to all irrespective of race, color, religion, sex, national
          origin, age, disability, or genetics.
        </p>
          <h5 class="text-center"> Monk</h5>
        <p>
          A monk in TRIRATNA FOUNDATION, Inc is a monastic male who is withdrawn from the world and ordained to practice
          severe self-discipline and avoidance of all forms of indulgence by monastic living, either alone, in the
          family, or with any number of other monks or a member of a religious community of men typically living under
          vows of poverty, chastity, and obedience.
        </p>
          <h5 class="text-center">Nun</h5>
        <p>
          A nun in TRIRATNA FOUNDATION, Inc is a monastic female who is withdrawn from the world and ordained to
          practice severe self-discipline and avoidance of all forms of indulgence by monastic living, either alone, in
          the family, or with any number of other nuns or a member of a religious community of female typically living
          under vows of poverty, chastity, and obedience.
        </p>
          <h5 class="text-center">Duties</h5>
        <p>
          The primary activities of monks or nuns affiliated with TRIRATNA FOUNDATION, Inc are to offer prayers,
          rituals, preaching, studies, meditation practices, religious and spiritual teachings, care for others, and
          involve in the actions for peace, prosperity, & happiness for humans and animals globally.
        </p>
          <h5 class="text-center">Devotee</h5>
        <p>
          Anyone who matches the criteria specified below is qualified to sign up as a devotee. There is no cost to sign
          up. We provide equal opportunities to all irrespective of race, color, religion, sex, national origin, age,
          disability, or genetics.
        </p>
          
        <p>
            <b>Criteria:</b> Anyone who believes in the three universal truths of Buddhism(nothing is lost in the universe, everything
          changes, the law of cause and effect), Four noble truths, Eight-fold paths, Triratna, The Five Precepts,
          Theory of Middle-path, Forgiveness & Reconciliation, Enlightenment, Reincarnation, Karma, Nirvana, and
          Non-sectarian view of Buddhism qualify to sign up as a Devotee.
        </p>
          <h5 class="text-center">Duties</h5>
        <p>
          The primary activities of a devotee affiliated with TRIRATNA FOUNDATION, Inc is to participate in the prayers,
          rituals, studies, meditation practices, religious and spiritual learnings, care for others, and involvement in
          the actions for peace, prosperity, & happiness for humans and animals globally.
        </p>
          <h5 class="text-center">Well-Wishers</h5>
        <p>
          Anyone who matches the criteria specified below is qualified to sign up as a well-wisher. There is no cost to
          sign up. We provide equal opportunities to all irrespective of race, color, religion, sex, national origin,
          age, disability, or genetics.
        </p>
        <p>
            <b>Criteria:</b> Anyone who supports our vision and mission and wishes TRIRATNA FOUNDATION, Inc to be the most reliable wheel
          for peace, prosperity, & happiness for humans and animals globally and be a part to ensure a smile on the face
          of every suffering being will qualify to sign up as a well-wisher.
        </p>
          <h5 class="text-center">Duties</h5>
        <p>
          The primary duty of a well-wisher affiliated with TRIRATNA FOUNDATION, Inc is to support and wish for peace,
          prosperity, & happiness for humans and animals globally and ensure a smile on the face of every suffering
          being in person or remotely.
          Every Sunday, we have regularly scheduled religious services and provide copies of relevant literature to the
          representatives, such as Gonpa bulletins. The average attendance at our regularly scheduled religious services
          is 120 devotees at each place of worship. We do not have our property for worship yet but looking for an
          established congregation or other regular groups soon.
        </p>
          <h5 class="text-center">Membership</h5>
          <p>
            We have an open process by which an individual becomes a member. They visit our website and signup. Once
            they
            are members, they have rights to participate in religious functions, rituals, religious festivals,
            congregations, and other events. Our members may be associated with another denomination or temple. They are
            not the same family members. We do conduct ceremony/ordains, rituals, birthdays, weddings, funerals,
            festivals, etc. We have an awareness school for religious instruction for the young, venerable, seniors, and
            others through a minister or spiritual leader. Their role is to preach, educate, train, and help the needy.
            The minister or religious leader is ordained, commissioned, or licensed after a prescribed course of study.
          </p>
          <h5 class="text-center">Religious Services</h5>
          Every Sunday, we have regularly scheduled religious services and provide copies of relevant literature to the
          representatives, such as Gonpa bulletins. The average attendance at our regularly scheduled religious services
          is 120 devotees or more at each place of worship.
          <h5 class="text-center">Our Charter</h5>
          <p>
            The five precepts are the most crucial system of morality for Buddhist laypeople. The charters are
            commitments
            to abstain/refrain or remain away. The Charter is free of cost.
          </p>
          <p style="margin-left: 10px;">
            1. To refrain/cease from taking life, i.e., <u>killing any living creature.</u><br>
            2. To refrain from taking what is not generously given, i.e., <u>theft.</u><br>
            3. To refrain from misuse of the senses or sexual misconduct, i.e., <u>overindulgence/excess in sex or
            committing sexual offenses.</u><br>
            4. To refrain from wrong speech, i.e., <u>lying.</u><br>
            5. To refrain from intoxicants that cloud the mind, i.e., <u>drugs or alcohol.</u><br>
          </p>
          <button type="button" class="btn btn-primary btn-sm" style="float: right;margin: 4px;"><a
            href="https://triratna-docs.s3.us-east-2.amazonaws.com/Schedule+A+Gonpa+or+Temple.docx">Download</a></button>

        </div>
      </div>
    </div>

  </div>
</div>
