<div class="page-banner service-banner-8">
    <div class="container">
        <div class="banner-text">
            <h2>Volunteers</h2>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
            <div style="padding:10px;">
                <a routerLink="/contact_us" class="wow fadeInUp btn btn-lg btn-warning"><i class="fa fa-hand-o-right"></i> &nbsp;Let's Start a Conversation</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Monks & Nuns</h2>
                <p>Anyone who matches the criteria specified below is qualified to sign up as a monk/nun volunteer. There is no cost to sign up. We provide equal opportunities to all irrespective of race, color, religion, sex, national origin, age, disability, or genetics. </p>
            </div>
            <div class="col-md-12">
                <h5>Monks</h5>
                <p>A monk in TRIRATNA FOUNDATION, Inc is a monastic male who is withdrawn from the world and ordained to practice severe self-discipline and avoidance of all forms of indulgence by monastic living, either alone, in the family, or with any number of other monks or a member of a religious community of men typically living under vows of poverty, chastity, and obedience.</p>
            </div>
            <div class="col-md-12">
                <h5>Nun</h5>
                <p>A nun in TRIRATNA FOUNDATION, Inc is a monastic female who is withdrawn from the world and ordained to practice severe self-discipline and avoidance of all forms of indulgence by monastic living, either alone, in the family, or with any number of other nuns or a member of a religious community of female typically living under vows of poverty, chastity, and obedience.</p>
            </div>
            <div class="col-md-12">
                <h5>Duties</h5>
                <p>The primary activities of monks or nuns affiliated with TRIRATNA FOUNDATION, Inc are to offer prayers, rituals, preaching, studies, meditation practices, religious and spiritual teachings, care for others, and involve in the actions for peace, prosperity, & happiness for humans and animals globally.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-grey products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Devotee</h2>
                <p>Anyone who matches the criteria specified below is qualified to signup as a devotee. There is no cost to sign up. We provide equal opportunities to all irrespective of race, color, religion, sex, national origin, age, disability, or genetics. </p>
            </div>
            <div class="col-md-12">
                <h5>Criteria</h5>
                <p>Anyone who believes in the three universal truths of Buddhism(nothing is lost in the universe, everything changes, the law of cause and effect), Four noble truths, Eight-fold paths, Triratna, The Five Precepts, Theory of Middle-path, Forgiveness & Reconciliation, Enlightenment, Reincarnation, Karma, Nirvana, and Non-sectarian view of Buddhism qualify to sign up as a Devotee.</p>
            </div>
            <div class="col-md-12">
                <h5>Duties</h5>
                <p>The primary activities of a devotee affiliated with TRIRATNA FOUNDATION, Inc is to participate in the prayers, rituals, studies, meditation practices, religious and spiritual learnings, care for others, and involvement in the actions for peace, prosperity, & happiness for humans and animals globally. </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Well-Wishers</h2>
                <p>Anyone who matches the criteria specified below is qualified to sign up as a well-wisher. There is no cost to sign up. We provide equal opportunities to all irrespective of race, color, religion, sex, national origin, age, disability, or genetics</p>
            </div>
            <div class="col-md-12">
                <h5>Criteria</h5>
                <p>Anyone who supports our vision and mission and wishes TRIRATNA FOUNDATION, Inc to be the most reliable wheel for peace, prosperity, & happiness for humans and animals globally and be a part to ensure a smile on the face of every suffering being will qualify to sign up as a well-wisher.</p>
            </div>
            <div class="col-md-12">
                <h5>Duties</h5>
                <p>The primary duty of a well-wisher affiliated with TRIRATNA FOUNDATION, Inc is to support and wish for peace, prosperity, & happiness for humans and animals globally and ensure a smile on the face of every suffering being in person or remotely.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-grey products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Sponsor</h2>
                <p>Anyone who matches the criteria specified below is qualified to sign up as a sponsor. There is no cost to sign up. We welcome everyone irrespective of race, color, religion, sex, national origin, age, disability, or genetics to be our sponsor.</p>
            </div>
            <div class="col-md-12">
                <h5>Criteria</h5>
                <p>Any person who supports our operational projects and activities with financial support is requested to sign up as a sponsor. This category applies to individual sponsors or donors only. The sponsors could donate one-time or monthly money contributions, gift cards, gifts, bequests, inventory, vehicle, land, building, etc. If you are an organization, agency, foundation, Gonpa, temple, church, business corporations, firms, and government, please click here. </p>
            </div>
            <div class="col-md-12">
                <h5>Duties</h5>
                <p>The primary responsibility of a sponsor affiliated with TRIRATNA FOUNDATION, Inc is to make sure whether your donation is utilized for the purpose you have contributed for or to build peace, prosperity, & happiness for humans and animals globally and ensure a smile on the face of every suffering being. </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Donor Agency</h2>
                <p>Any organization, agency, foundation, gonpa, temple, church, business corporations, firms, and government that donates our operational projects and activities with financial support is requested to sign up as a donor agency. This category applies to agencies specified above only. The donors could donate one-time or monthly money contributions, gift cards, gifts, bequests, inventory, vehicle, land, building, etc. If you are an individual sponsor and not an agency, please click here. There is no cost to sign up. We welcome everyone irrespective of race, color, religion, sex, national origin, age, disability, or genetics to be our Donors. </p>
            </div>
            <div class="col-md-12">
                <h5>Duties</h5>
                <p>The primary responsibility of a donor agency affiliated with TRIRATNA FOUNDATION, Inc is to make sure whether your donation is utilized for the purpose you have contributed for or to build peace, prosperity, & happiness for humans and animals globally and ensure a smile on the face of every suffering being. </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-grey products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Affiliates or Partners</h2>
                <p>Any gumba/gonpa, temple, church, mosque, faith, group, club, agency, society, association, organization, NGO, INGO, regional governmental organizations, UN Specialized Agencies, and governments needing to affiliate or partner with TRIRATNA FOUNDATION, Inc to build peace, prosperity, & happiness for humans and animals globally and ensure a smile on the face of suffering beings, are welcome to sign up and fill-up the form attached below. There is no cost to sign up. We welcome every organization, irrespective of race, color, religion, national origin, service type, and length of service, to be our affiliate or partner. </p>
            </div>
            <div class="col-md-12">
                <h5>Responsibility</h5>
                <p>A partner or affiliate's primary responsibility is to join hands and support our operational projects and activities and be a common voice to accomplish the vision, mission, and values of TRIRATNA FOUNDATION, Inc in whatever ways possible. </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white products">
    <div class="container paddingtop-20 paddingbottom-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Donors</h2>
                <p>Your generous contribution will ensure a smile on the face of suffering beings and foster peace, prosperity, & happiness for humans and animals globally. Charity is God in the eyes of the needy./p>
            </div>
        </div>
    </div>
</div>